cdn/wwwroot/wsdl/crud/user/user_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/crud/user/dto/retrieve" version="3.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:retrieve="http://www.symxchange.generated.symitar.com/crud/user/dto/retrieve" xmlns:symxcommon="http://www.symxchange.generated.symitar.com/symxcommon">
  <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="user.xsd"/>
  <xsd:annotation>
    <xsd:documentation>Copyright 2014-2024 Jack Henry Software</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="User">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountVerification" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActivPurgeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveMode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActivityList" type="retrieve:ActivityList"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ArchiveDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AssignedBranch" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CasTrackingCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CheckTapeCols" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConfigurationGroup" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DeptName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Directory" type="xsd:string"/>
      <xsd:element maxOccurs="32" minOccurs="0" name="DisplayItem">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DisplayItem" type="xsd:short"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Email" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Extension" type="xsd:string"/>
      <xsd:element maxOccurs="256" minOccurs="0" name="Functions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Functions" type="xsd:short"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="InvalidPasswordAttemptCount" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="InvalidPinAttemptCount" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="JobFunction" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="JobTitle" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastCheckSeq" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastConsole" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastInvalidPasswordDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastInvalidPasswordTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastInvalidPinDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastInvalidPinTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastLogonDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastLogonTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Location" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ManagersName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element maxOccurs="2" minOccurs="0" name="Note2">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Note2" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Number" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OnlineAccess" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PasswordChgDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PasswordMode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Phone" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PinActiveMode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PinChangeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreviousLogOnTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreviousLogonDate" type="xsd:date"/>
      <xsd:element maxOccurs="12" minOccurs="0" name="PreviousPasswordMode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PreviousPasswordMode" type="xsd:short"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="38" minOccurs="0" name="PriorDayTapeTotal">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PriorDayTapeTotal" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="2048" minOccurs="0" name="Privilege">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Privilege" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="999" minOccurs="0" name="PrivilegeGroup">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PrivilegeGroup" type="xsd:short"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="PrtCheckIndex" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" type="xsd:date"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="RestrictedAccounts">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RestrictedAccounts" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="SecondaryId" type="xsd:string"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="SecurityAmount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SecurityAmount" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1600" minOccurs="0" name="SecurityCode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SecurityCode" type="xsd:short"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsoDomainUser" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsoDomainUserSub1" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsoDomainUserSub2" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsoDomainUserSub3" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsoDomainUserSub4" type="xsd:string"/>
      <xsd:element maxOccurs="38" minOccurs="0" name="TapeTotal">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TapeTotal" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="TempPasswordExpirationDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TempPasswordExpirationTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TemporaryPassword" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TemporaryPin" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserTrackingList" type="retrieve:UserTrackingList"/>
      <xsd:element maxOccurs="32" minOccurs="0" name="WorkList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="WorkList" type="xsd:short"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityList">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="hasReachedMaximumListSize" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Activity" type="retrieve:Activity"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UserTrackingList">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="hasReachedMaximumListSize" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="UserTracking" type="retrieve:UserTracking"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UserChildrenFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActivityFilter" type="retrieve:ActivityFilter"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserTrackingFilter" type="retrieve:UserTrackingFilter"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UserSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllUserFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserFields" type="retrieve:UserFields"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActivitySelectableFields" type="retrieve:ActivitySelectableFields"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserTrackingSelectableFields" type="retrieve:UserTrackingSelectableFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UserFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountVerification" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActivPurgeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveMode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ArchiveDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AssignedBranch" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CasTrackingCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CheckTapeCols" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConfigurationGroup" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DeptName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Directory" type="xsd:boolean"/>
      <xsd:element maxOccurs="32" minOccurs="0" name="DisplayItem" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Email" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Extension" type="xsd:boolean"/>
      <xsd:element maxOccurs="256" minOccurs="0" name="Functions" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="InvalidPasswordAttemptCount" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="InvalidPinAttemptCount" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="JobFunction" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="JobTitle" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastCheckSeq" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastConsole" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastInvalidPasswordDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastInvalidPasswordTime" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastInvalidPinDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastInvalidPinTime" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastLogonDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastLogonTime" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Location" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ManagersName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:boolean"/>
      <xsd:element maxOccurs="2" minOccurs="0" name="Note2" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Number" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OnlineAccess" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PasswordChgDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PasswordMode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Phone" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PinActiveMode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PinChangeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreviousLogOnTime" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreviousLogonDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="12" minOccurs="0" name="PreviousPasswordMode" type="xsd:short"/>
      <xsd:element maxOccurs="38" minOccurs="0" name="PriorDayTapeTotal" type="xsd:short"/>
      <xsd:element maxOccurs="2048" minOccurs="0" name="Privilege" type="xsd:short"/>
      <xsd:element maxOccurs="999" minOccurs="0" name="PrivilegeGroup" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PrtCheckIndex" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="RestrictedAccounts" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SecondaryId" type="xsd:boolean"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="SecurityAmount" type="xsd:short"/>
      <xsd:element maxOccurs="1600" minOccurs="0" name="SecurityCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsoDomainUser" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsoDomainUserSub1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsoDomainUserSub2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsoDomainUserSub3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsoDomainUserSub4" type="xsd:boolean"/>
      <xsd:element maxOccurs="38" minOccurs="0" name="TapeTotal" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TempPasswordExpirationDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TempPasswordExpirationTime" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TemporaryPassword" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TemporaryPin" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:boolean"/>
      <xsd:element maxOccurs="32" minOccurs="0" name="WorkList" type="xsd:short"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UserSingleSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllUserFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserFields" type="retrieve:UserFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Activity">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Branch" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Console" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Date" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="HelpCode" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Session" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Time" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserInput" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivitySearchFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivitySelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllActivityFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActivityFields" type="retrieve:ActivityFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Branch" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Console" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Date" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="HelpCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Session" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Time" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserInput" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:boolean"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivitySingleSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllActivityFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActivityFields" type="retrieve:ActivityFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UserTracking">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreationDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreationTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExpireDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmLastDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TrackingCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount1" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount10" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount11" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount12" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount13" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount14" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount15" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount16" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount17" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount18" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount19" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount2" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount20" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount3" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount4" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount5" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount6" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount7" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount8" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount9" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar1" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar10" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar11" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar12" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar13" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar14" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar15" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar16" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar17" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar18" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar19" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar2" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar20" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar3" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar4" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar5" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar6" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar7" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar8" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar9" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode1" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode10" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode11" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode12" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode13" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode14" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode15" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode16" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode17" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode18" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode19" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode2" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode20" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode3" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode4" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode5" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode6" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode7" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode8" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode9" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate1" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate10" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate11" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate12" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate13" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate14" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate15" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate16" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate17" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate18" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate19" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate2" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate20" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate3" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate4" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate5" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate6" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate7" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate8" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate9" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserId" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber1" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber10" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber11" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber12" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber13" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber14" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber15" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber16" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber17" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber18" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber19" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber2" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber20" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber3" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber4" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber5" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber6" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber7" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber8" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber9" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate1" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate10" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate11" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate12" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate13" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate14" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate15" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate16" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate17" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate18" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate19" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate2" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate20" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate3" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate4" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate5" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate6" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate7" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate8" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate9" type="xsd:decimal"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UserTrackingSearchFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UserTrackingFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UserTrackingSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllUserTrackingFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserTrackingFields" type="retrieve:UserTrackingFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UserTrackingFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreationDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreationTime" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExpireDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmLastDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TrackingCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount10" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount11" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount12" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount13" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount14" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount15" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount16" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount17" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount18" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount19" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount20" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount4" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount5" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount6" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount7" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount8" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount9" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar10" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar11" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar12" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar13" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar14" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar15" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar16" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar17" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar18" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar19" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar20" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar4" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar5" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar6" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar7" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar8" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar9" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode10" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode11" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode12" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode13" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode14" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode15" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode16" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode17" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode18" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode19" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode20" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode4" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode5" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode6" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode7" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode8" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode9" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate10" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate11" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate12" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate13" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate14" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate15" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate16" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate17" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate18" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate19" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate20" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate4" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate5" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate6" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate7" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate8" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate9" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserId" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber10" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber11" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber12" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber13" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber14" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber15" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber16" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber17" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber18" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber19" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber20" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber4" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber5" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber6" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber7" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber8" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber9" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate10" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate11" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate12" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate13" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate14" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate15" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate16" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate17" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate18" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate19" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate20" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate4" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate5" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate6" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate7" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate8" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate9" type="xsd:boolean"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UserTrackingSingleSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllUserTrackingFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserTrackingFields" type="retrieve:UserTrackingFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>