api/wwwroot/wsdl/crud/batchjobs/batchjobs_xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/noncrud/batchjobs" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:batchjobsdto="http://www.symxchange.generated.symitar.com/noncrud/batchjobs/dto" xmlns:cmn="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.symxchange.generated.symitar.com/noncrud/batchjobs" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://www.symxchange.generated.symitar.com/noncrud/batchjobs/dto" schemaLocation="batchjobs.xsd" /><xsd:element name="listBatchJobs"><xsd:complexType><xsd:sequence><xsd:element name="Request" type="batchjobsdto:ListBatchJobsRequest" /></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="listBatchJobsServiceResponse"><xsd:complexType><xsd:sequence><xsd:element name="Response" type="batchjobsdto:ListBatchJobsResponse" /></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="executeBatchJob"><xsd:complexType><xsd:sequence><xsd:element name="Request" type="batchjobsdto:ExecuteBatchJobRequest" /></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="executeBatchJobServiceResponse"><xsd:complexType><xsd:sequence><xsd:element name="Response" type="batchjobsdto:ExecuteBatchJobResponse" /></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="getBatchJobStatus"><xsd:complexType><xsd:sequence><xsd:element name="Request" type="batchjobsdto:GetBatchJobStatusRequest" /></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="getBatchJobStatusResponse"><xsd:complexType><xsd:sequence><xsd:element name="Response" type="batchjobsdto:GetBatchJobStatusResponse" /></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
