cdn/wwwroot/wsdl/crud/creditreport/creditreport_xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/noncrud/creditreport" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:cmn="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:creditreportdto="http://www.symxchange.generated.symitar.com/noncrud/creditreport/dto" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.symxchange.generated.symitar.com/noncrud/creditreport" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="creditreport.xsd" /><xsd:import namespace="http://www.symxchange.generated.symitar.com/noncrud/creditreport/dto" schemaLocation="creditreport_1.xsd" /><xsd:element name="orderReport"><xsd:complexType><xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="Request" type="creditreportdto:OrderReportRequest" /></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="orderReportResponse"><xsd:complexType><xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="Response" type="creditreportdto:CreditReportResponse" /></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="importReport"><xsd:complexType><xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="Request" type="creditreportdto:ImportReportRequest" /></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="importReportResponse"><xsd:complexType><xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="Response" type="creditreportdto:CreditReportResponse" /></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
