cdn/wwwroot/wsdl/crud/creditreport/creditreport_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/noncrud/creditreport/dto" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cmn="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:tns="http://www.symxchange.generated.symitar.com/noncrud/creditreport/dto">
  <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="creditreport.xsd"/>
  <xsd:annotation>
    <xsd:documentation>Copyright 2016-2022 Jack Henry Software</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="OrderReportRequest">
    <xsd:complexContent>
      <xsd:extension base="tns:CreditReportBaseRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="tns:Bureau"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" type="cmn:AccountNumber"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="tns:SSN"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="tns:Name"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="tns:Address"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="tns:Experian"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="tns:ChexSystems"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="cmn:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CreditReportResponse">
    <xsd:complexContent>
      <xsd:extension base="tns:CreditReportBaseResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CredRepLocator">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:minInclusive value="-2147483647"/>
                <xsd:maxInclusive value="2147483647"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="cmn:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ImportReportRequest">
    <xsd:complexContent>
      <xsd:extension base="tns:CreditReportBaseRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="tns:Bureau"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" type="cmn:AccountNumber"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="FileName">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1"/>
                <xsd:maxLength value="31"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="PrimaryMember" type="tns:MemberInfo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="JointMember" type="tns:MemberInfo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ECOAInquiryType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="cmn:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Bureau">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="EXPERIAN"/>
        <xsd:enumeration value="EQUIFAX"/>
        <xsd:enumeration value="TRANSUNION"/>
        <xsd:enumeration value="CHEXSYSTEMS"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SSN">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="9"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Name">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="LastName">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="20"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="FirstName">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="20"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="MiddleName">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="NameSuffix">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="4"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="cmn:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Address">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="HouseNumber">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="Directional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="2"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="StreetName">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="40"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="StreetType">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="2"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="City">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="20"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="State">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ZipCode">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="cmn:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ChexSystems">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="IncludeNewAccountChex" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IncludeQualiFile" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IncludeIDVerification" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IncludeOFACWatch" type="xsd:boolean"/>
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="cmn:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RiskModel">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="Model1" type="tns:RiskModelType"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="Model2" type="tns:RiskModelType"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="Model3" type="tns:RiskModelType"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="Model4" type="tns:RiskModelType"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="Model5" type="tns:RiskModelType"/>
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="cmn:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Experian">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="OperatorCode">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="2"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" ref="tns:RiskModel"/>
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="cmn:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CreditReportBaseRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="cmn:AdminCredentialsChoice"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="cmn:DeviceInformation"/>
    </xsd:sequence>
    <xsd:attribute ref="cmn:MessageId" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CreditReportBaseResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="cmn:Status"/>
    </xsd:sequence>
    <xsd:attribute ref="cmn:MessageId" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="MemberInfo">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" ref="tns:SSN"/>
      <xsd:element maxOccurs="1" minOccurs="0" ref="tns:Name"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BirthDate" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:date">
            <xsd:minInclusive value="1900-01-01"/>
            <xsd:maxInclusive value="2078-12-31"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="cmn:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="RiskModelType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>