api/wwwroot/wsdl/crud/transactions/transactions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TransactionsService" targetNamespace="http://www.symxchange.generated.symitar.com/noncrud/transactions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:cmn="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.symxchange.generated.symitar.com/noncrud/transactions" xmlns:transactionsdto="http://www.symxchange.generated.symitar.com/noncrud/transactions/dto" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>Copyright 2014-2023 Jack Henry Software</wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/noncrud/transactions">
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/noncrud/transactions/dto" schemaLocation="transactions.xsd"/>
      <xsd:element name="deposit">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="transactionsdto:ShareDepositRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="depositResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="transactionsdto:TransactionsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="withdraw">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="transactionsdto:WithdrawalRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="withdrawResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="transactionsdto:TransactionsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="newLoan">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="transactionsdto:NewLoanRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="newLoanResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="transactionsdto:TransactionsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="payBill">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="transactionsdto:BillPaymentRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="payBillResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="transactionsdto:TransactionsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="withdrawFee">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="transactionsdto:WithdrawFeeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="withdrawFeeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="transactionsdto:TransactionsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="transfer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="transactionsdto:TransferRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="transferResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="transactionsdto:TransactionsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="stopCheckPayment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="transactionsdto:StopCheckPaymentRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="stopCheckPaymentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="transactionsdto:TransactionsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loanAddon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="transactionsdto:LoanAddonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loanAddonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="transactionsdto:TransactionsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="payLoan">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="transactionsdto:LoanPaymentRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="payLoanResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="transactionsdto:TransactionsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="glToGlPost">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="transactionsdto:GlToGlPostingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="glToGlPostResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="transactionsdto:TransactionsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDonorRecipientAccounts">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="transactionsdto:GetDonorRecipientAccountsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDonorRecipientAccountsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Response" type="transactionsdto:GetDonorRecipientAccountsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="withdrawFeeRequest">
    <wsdl:part element="tns:withdrawFee" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="withdrawFeeResponse">
    <wsdl:part element="tns:withdrawFeeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getDonorRecipientAccountsRequest">
    <wsdl:part element="tns:getDonorRecipientAccounts" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="stopCheckPaymentRequest">
    <wsdl:part element="tns:stopCheckPayment" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="newLoanResponse">
    <wsdl:part element="tns:newLoanResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="transferRequest">
    <wsdl:part element="tns:transfer" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="payLoanResponse">
    <wsdl:part element="tns:payLoanResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="payBillRequest">
    <wsdl:part element="tns:payBill" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="withdrawResponse">
    <wsdl:part element="tns:withdrawResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="glToGlPostRequest">
    <wsdl:part element="tns:glToGlPost" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="loanAddonResponse">
    <wsdl:part element="tns:loanAddonResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="newLoanRequest">
    <wsdl:part element="tns:newLoan" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="transferResponse">
    <wsdl:part element="tns:transferResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="stopCheckPaymentResponse">
    <wsdl:part element="tns:stopCheckPaymentResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="loanAddonRequest">
    <wsdl:part element="tns:loanAddon" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="depositRequest">
    <wsdl:part element="tns:deposit" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="glToGlPostResponse">
    <wsdl:part element="tns:glToGlPostResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="depositResponse">
    <wsdl:part element="tns:depositResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="withdrawRequest">
    <wsdl:part element="tns:withdraw" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="payLoanRequest">
    <wsdl:part element="tns:payLoan" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getDonorRecipientAccountsResponse">
    <wsdl:part element="tns:getDonorRecipientAccountsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="payBillResponse">
    <wsdl:part element="tns:payBillResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="TransactionsService">
    <wsdl:operation name="deposit">
      <wsdl:input message="tns:depositRequest"/>
      <wsdl:output message="tns:depositResponse"/>
    </wsdl:operation>
    <wsdl:operation name="withdraw">
      <wsdl:input message="tns:withdrawRequest"/>
      <wsdl:output message="tns:withdrawResponse"/>
    </wsdl:operation>
    <wsdl:operation name="newLoan">
      <wsdl:input message="tns:newLoanRequest"/>
      <wsdl:output message="tns:newLoanResponse"/>
    </wsdl:operation>
    <wsdl:operation name="payBill">
      <wsdl:input message="tns:payBillRequest"/>
      <wsdl:output message="tns:payBillResponse"/>
    </wsdl:operation>
    <wsdl:operation name="withdrawFee">
      <wsdl:input message="tns:withdrawFeeRequest"/>
      <wsdl:output message="tns:withdrawFeeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="transfer">
      <wsdl:input message="tns:transferRequest"/>
      <wsdl:output message="tns:transferResponse"/>
    </wsdl:operation>
    <wsdl:operation name="stopCheckPayment">
      <wsdl:input message="tns:stopCheckPaymentRequest"/>
      <wsdl:output message="tns:stopCheckPaymentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="loanAddon">
      <wsdl:input message="tns:loanAddonRequest"/>
      <wsdl:output message="tns:loanAddonResponse"/>
    </wsdl:operation>
    <wsdl:operation name="payLoan">
      <wsdl:input message="tns:payLoanRequest"/>
      <wsdl:output message="tns:payLoanResponse"/>
    </wsdl:operation>
    <wsdl:operation name="glToGlPost">
      <wsdl:input message="tns:glToGlPostRequest"/>
      <wsdl:output message="tns:glToGlPostResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getDonorRecipientAccounts">
      <wsdl:input message="tns:getDonorRecipientAccountsRequest"/>
      <wsdl:output message="tns:getDonorRecipientAccountsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransactionsServiceBinding" type="tns:TransactionsService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deposit">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/transactions/deposit"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="withdraw">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/transactions/withdraw"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newLoan">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/transactions/newLoan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payBill">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/transactions/payBill"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="withdrawFee">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/transactions/withdrawFee"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transfer">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/transactions/transfer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stopCheckPayment">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/transactions/stopCheckPayment"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loanAddon">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/transactions/loanAddon"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payLoan">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/transactions/payLoan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="glToGlPost">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/transactions/glToGlPost"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDonorRecipientAccounts">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/transactions/getDonorRecipientAccounts"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionsService">
    <wsdl:port binding="tns:TransactionsServiceBinding" name="TransactionsServicePort">
      <soap:address location="https://symitar367:24604/SymXchange/transactions"/>
    </wsdl:port>
  </wsdl:service>
  <xsd:documentation>Version 1.0</xsd:documentation>
</wsdl:definitions>