cdn/wwwroot/wsdl/crud/nonaccountname/nonaccountname.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="NonAccountNameService" targetNamespace="http://www.symxchange.generated.symitar.com/crud/nonaccountname" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:retrieve="http://www.symxchange.generated.symitar.com/crud/nonaccountname/dto/retrieve" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:symxcommon="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:tns="http://www.symxchange.generated.symitar.com/crud/nonaccountname" xmlns:update="http://www.symxchange.generated.symitar.com/crud/nonaccountname/dto/update" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>Copyright 2014-2025 Jack Henry Software</wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/crud/nonaccountname">
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="nonaccountname.xsd"/>
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/crud/nonaccountname/dto/retrieve" schemaLocation="nonaccountname_1.xsd"/>
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/crud/nonaccountname/dto/update" schemaLocation="nonaccountname_2.xsd"/>
      <xsd:complexType name="NonAcctNameSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameNonAcctNameNum" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:NonAcctNameSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="NonAcctNameSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctName" type="retrieve:NonAcctName"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="NonAcctNameSelectFieldsFilterChildrenRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameNonAcctNameNum" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:NonAcctNameSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ChildrenSearchFilter" type="retrieve:NonAcctNameChildrenFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="NonAcctNameSelectFieldsFilterChildrenResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctName" type="retrieve:NonAcctName"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="NonAcctNameFmHistoryPagedListSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameNonAcctNameNum" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:NonAcctNameFmHistorySingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="NonAcctNameFmHistoryPagedListSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="NonAcctNameFmHistory" type="retrieve:NonAcctNameFmHistory"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="NonAcctNameFmHistorySearchPagedSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameNonAcctNameNum" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:NonAcctNameFmHistorySingleSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SearchFilter" type="retrieve:NonAcctNameFmHistorySearchFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="NonAcctNameFmHistorySearchPagedSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="NonAcctNameFmHistory" type="retrieve:NonAcctNameFmHistory"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="UpdateNonAcctNameByIDRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameNonAcctNameNum" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameFields" type="update:NonAcctNameFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="NonAcctNameUpdateByIDResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UpdateStatus" type="symxcommon:UpdateStatus"/>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CreateNonAcctNameRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameFields" type="update:NonAcctNameFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="NonAcctNameCreateResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameNonAcctNameNum" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="DeleteNonAcctNameRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameNonAcctNameNum" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="NonAcctNameDeleteResponse">
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:element name="getNonAcctNameSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:NonAcctNameSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getNonAcctNameSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:NonAcctNameSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getNonAcctNameSelectFieldsFilterChildren">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:NonAcctNameSelectFieldsFilterChildrenRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getNonAcctNameSelectFieldsFilterChildrenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:NonAcctNameSelectFieldsFilterChildrenResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getNonAcctNameFmHistoryPagedListSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:NonAcctNameFmHistoryPagedListSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getNonAcctNameFmHistoryPagedListSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:NonAcctNameFmHistoryPagedListSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchNonAcctNameFmHistoryPagedSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:NonAcctNameFmHistorySearchPagedSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchNonAcctNameFmHistoryPagedSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:NonAcctNameFmHistorySearchPagedSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateNonAcctNameByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:UpdateNonAcctNameByIDRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateNonAcctNameByIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpdateResponse" type="tns:NonAcctNameUpdateByIDResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createNonAcctName">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CreateNonAcctNameRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createNonAcctNameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreateResponse" type="tns:NonAcctNameCreateResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteNonAcctName">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:DeleteNonAcctNameRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteNonAcctNameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeleteResponse" type="tns:NonAcctNameDeleteResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:attribute name="BranchId" type="xsd:short"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getNonAcctNameSelectFieldsRequest">
    <wsdl:part element="tns:getNonAcctNameSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getNonAcctNameFmHistoryPagedListSelectFieldsResponse">
    <wsdl:part element="tns:getNonAcctNameFmHistoryPagedListSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getNonAcctNameSelectFieldsFilterChildrenResponse">
    <wsdl:part element="tns:getNonAcctNameSelectFieldsFilterChildrenResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getNonAcctNameSelectFieldsFilterChildrenRequest">
    <wsdl:part element="tns:getNonAcctNameSelectFieldsFilterChildren" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getNonAcctNameSelectFieldsResponse">
    <wsdl:part element="tns:getNonAcctNameSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchNonAcctNameFmHistoryPagedSelectFieldsRequest">
    <wsdl:part element="tns:searchNonAcctNameFmHistoryPagedSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteNonAcctNameRequest">
    <wsdl:part element="tns:deleteNonAcctName" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteNonAcctNameResponse">
    <wsdl:part element="tns:deleteNonAcctNameResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateNonAcctNameByIDResponse">
    <wsdl:part element="tns:updateNonAcctNameByIDResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createNonAcctNameResponse">
    <wsdl:part element="tns:createNonAcctNameResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getNonAcctNameFmHistoryPagedListSelectFieldsRequest">
    <wsdl:part element="tns:getNonAcctNameFmHistoryPagedListSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createNonAcctNameRequest">
    <wsdl:part element="tns:createNonAcctName" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchNonAcctNameFmHistoryPagedSelectFieldsResponse">
    <wsdl:part element="tns:searchNonAcctNameFmHistoryPagedSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateNonAcctNameByIDRequest">
    <wsdl:part element="tns:updateNonAcctNameByID" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="NonAccountNameService">
    <wsdl:operation name="getNonAcctNameSelectFields">
      <wsdl:input message="tns:getNonAcctNameSelectFieldsRequest"/>
      <wsdl:output message="tns:getNonAcctNameSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getNonAcctNameSelectFieldsFilterChildren">
      <wsdl:input message="tns:getNonAcctNameSelectFieldsFilterChildrenRequest"/>
      <wsdl:output message="tns:getNonAcctNameSelectFieldsFilterChildrenResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getNonAcctNameFmHistoryPagedListSelectFields">
      <wsdl:input message="tns:getNonAcctNameFmHistoryPagedListSelectFieldsRequest"/>
      <wsdl:output message="tns:getNonAcctNameFmHistoryPagedListSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="searchNonAcctNameFmHistoryPagedSelectFields">
      <wsdl:input message="tns:searchNonAcctNameFmHistoryPagedSelectFieldsRequest"/>
      <wsdl:output message="tns:searchNonAcctNameFmHistoryPagedSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateNonAcctNameByID">
      <wsdl:input message="tns:updateNonAcctNameByIDRequest"/>
      <wsdl:output message="tns:updateNonAcctNameByIDResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createNonAcctName">
      <wsdl:input message="tns:createNonAcctNameRequest"/>
      <wsdl:output message="tns:createNonAcctNameResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteNonAcctName">
      <wsdl:input message="tns:deleteNonAcctNameRequest"/>
      <wsdl:output message="tns:deleteNonAcctNameResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NonAccountNameServiceSOAPBinding" type="tns:NonAccountNameService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getNonAcctNameSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/nonaccountname/getNonAcctNameSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNonAcctNameSelectFieldsFilterChildren">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/nonaccountname/getNonAcctNameSelectFieldsFilterChildren"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNonAcctNameFmHistoryPagedListSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/nonaccountname/getNonAcctNameFmHistoryPagedListSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchNonAcctNameFmHistoryPagedSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/nonaccountname/searchNonAcctNameFmHistoryPagedSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateNonAcctNameByID">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/nonaccountname/updateNonAcctNameByID"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNonAcctName">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/nonaccountname/createNonAcctName"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteNonAcctName">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/nonaccountname/deleteNonAcctName"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NonAccountNameService">
    <wsdl:port binding="tns:NonAccountNameServiceSOAPBinding" name="NonAccountNameServicePort">
      <soap:address location="https://symx-colorado.mdtsaas.com:6101/SymXchange/nonaccountname"/>
    </wsdl:port>
  </wsdl:service>
  <xsd:documentation>Version 3.0</xsd:documentation>
</wsdl:definitions>