cdn/wwwroot/wsdl/crud/nonaccountname/nonaccountname_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/crud/nonaccountname/dto/retrieve" version="3.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:retrieve="http://www.symxchange.generated.symitar.com/crud/nonaccountname/dto/retrieve" xmlns:symxcommon="http://www.symxchange.generated.symitar.com/symxcommon">
  <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="nonaccountname.xsd"/>
  <xsd:annotation>
    <xsd:documentation>Copyright 2014-2025 Jack Henry Software</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="NonAcctName">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDuty" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDutySeparationDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDutyStartDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDutyVerificationDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddrCreateDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddrDisconnectDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddrExpDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddrFmLastDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddrFmLastPurgeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddrRecordChangeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddressType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AltEmail" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficialOwner" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficialPercent" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryPercent" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BirthDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CarrierRoute" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Chapter4StatusCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="City" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Confidential" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Country" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CountryCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CrAddrChgDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CrNameChgDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CrSsnChgDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreditReportAddrIndicator" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreditReportAddrIndicatorDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreditReportConsumerInfo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreditReportConsumerInfoDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CtrExempt" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CurrGrossMonthPay" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CurrMonthPayChgDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CurrNetMonthPay" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaExtendedName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaFirst" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaLast" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaLongName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaMiddle" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaNameFormat" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaShortName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaSuffix" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaTitle" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DeathDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EcoaCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EffectiveDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Email" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EmployerName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExpirationDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExtendedName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExtraAddress" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExtraInfo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="First" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmLastPurgeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ForeignTin" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FormW8OnFile" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GIin" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Headquarters" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="HomePhone" type="xsd:string"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentDocFlag">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdentDocFlag" type="xsd:short"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdDescription">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdentIdDescription" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdExpireDate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdentIdExpireDate" type="xsd:date"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdIssueDate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdentIdIssueDate" type="xsd:date"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdNumber">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdentIdNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdentIdType" type="xsd:short"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdVerifyDate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdentIdVerifyDate" type="xsd:date"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Irs1042SAmendNum" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IrsCorrection" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IrsCountryCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Last" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastAddrChgDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastAddrVerifDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Lei" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="License" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Lob" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LongName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MailOverride" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MarketingAddress" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrActivityDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrAddrFileType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrAddrNumLink" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrAddrNumLinkChgDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrAddrNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrCreateDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrDisconnectDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrExpDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrFileType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrFmLastDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrFmLastPurgeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrRecordChangeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrStatus" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrStatusFmDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MemberNumLink" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MemberNumLinkChgDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MemberNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Middle" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MobilePhone" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MothersMaidenName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NameFormat" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameFmHistoryList" type="retrieve:NonAcctNameFmHistoryList"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameNum" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NraExemptionCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NraTaxRate" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Occupation" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PagerNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PhoneType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreferredContact" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreferredContactMethod" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Restrict" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Sex" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ShortName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Ssn" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsnCertification" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsnOverride" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsnType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="State" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Street" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubstantialOwner" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Suffix" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Title" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UsPersonFlag" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount1" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount2" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar1" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar2" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar3" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar4" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate1" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate2" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="W8ExpirationDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="WorkPhone" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="WorkPhoneExtension" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ZipCode" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NonAcctNameFmHistoryList">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="hasReachedMaximumListSize" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="NonAcctNameFmHistory" type="retrieve:NonAcctNameFmHistory"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NonAcctNameChildrenFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameFmHistoryFilter" type="retrieve:NonAcctNameFmHistoryFilter"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NonAcctNameSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllNonAcctNameFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameFields" type="retrieve:NonAcctNameFields"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameFmHistorySelectableFields" type="retrieve:NonAcctNameFmHistorySelectableFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NonAcctNameFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDuty" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDutySeparationDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDutyStartDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDutyVerificationDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddrCreateDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddrDisconnectDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddrExpDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddrFmLastDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddrFmLastPurgeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddrRecordChangeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddressType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AltEmail" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficialOwner" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficialPercent" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryPercent" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BirthDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CarrierRoute" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Chapter4StatusCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="City" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Confidential" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Country" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CountryCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CrAddrChgDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CrNameChgDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CrSsnChgDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreditReportAddrIndicator" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreditReportAddrIndicatorDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreditReportConsumerInfo" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreditReportConsumerInfoDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CtrExempt" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CurrGrossMonthPay" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CurrMonthPayChgDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CurrNetMonthPay" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaExtendedName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaFirst" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaLast" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaLongName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaMiddle" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaNameFormat" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaShortName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaSuffix" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaTitle" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DeathDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EcoaCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EffectiveDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Email" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EmployerName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExpirationDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExtendedName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExtraAddress" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExtraInfo" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="First" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmLastPurgeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ForeignTin" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FormW8OnFile" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GIin" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Headquarters" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="HomePhone" type="xsd:boolean"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentDocFlag" type="xsd:short"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdDescription" type="xsd:short"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdExpireDate" type="xsd:short"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdIssueDate" type="xsd:short"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdNumber" type="xsd:short"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdType" type="xsd:short"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdVerifyDate" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Irs1042SAmendNum" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IrsCorrection" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IrsCountryCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Last" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastAddrChgDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastAddrVerifDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Lei" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="License" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Lob" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LongName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MailOverride" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MarketingAddress" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrActivityDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrAddrFileType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrAddrNumLink" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrAddrNumLinkChgDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrAddrNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrCreateDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrDisconnectDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrExpDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrFileType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrFmLastDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrFmLastPurgeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrRecordChangeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrStatus" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrStatusFmDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MemberNumLink" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MemberNumLinkChgDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MemberNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Middle" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MobilePhone" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MothersMaidenName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NameFormat" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameNum" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NraExemptionCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NraTaxRate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Occupation" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PagerNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PhoneType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreferredContact" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreferredContactMethod" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Restrict" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Sex" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ShortName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Ssn" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsnCertification" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsnOverride" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsnType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="State" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Street" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubstantialOwner" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Suffix" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Title" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UsPersonFlag" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar4" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="W8ExpirationDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="WorkPhone" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="WorkPhoneExtension" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ZipCode" type="xsd:boolean"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NonAcctNameSingleSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllNonAcctNameFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameFields" type="retrieve:NonAcctNameFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NonAcctNameFmHistory">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BatchSequence" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Branch" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConfirmationSeq" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConsoleNumber" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DataType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewCharacter" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewMoney" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewRate" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldCharacter" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldMoney" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldRate" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ProcessorUser" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordType" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SecurityLevels" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubFieldNumber" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserOverride" type="xsd:short"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NonAcctNameFmHistorySearchFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="StartPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EndPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NonAcctNameFmHistoryFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="StartPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EndPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NonAcctNameFmHistorySelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllNonAcctNameFmHistoryFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameFmHistoryFields" type="retrieve:NonAcctNameFmHistoryFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NonAcctNameFmHistoryFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BatchSequence" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Branch" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConfirmationSeq" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConsoleNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DataType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewCharacter" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewMoney" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewRate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldCharacter" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldMoney" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldRate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostTime" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ProcessorUser" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SecurityLevels" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubFieldNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserOverride" type="xsd:boolean"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NonAcctNameFmHistorySingleSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllNonAcctNameFmHistoryFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NonAcctNameFmHistoryFields" type="retrieve:NonAcctNameFmHistoryFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>