cdn/wwwroot/wsdl/crud/contacteventmgmt/contacteventmgmt_1_xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/noncrud/contacteventmgmt" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:contacteventmgmtdto="http://www.symxchange.generated.symitar.com/noncrud/contacteventmgmt/dto" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.symxchange.generated.symitar.com/noncrud/contacteventmgmt" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://www.symxchange.generated.symitar.com/noncrud/contacteventmgmt/dto" schemaLocation="contacteventmgmt.xsd" /><xsd:element name="getEventSummariesByAccount"><xsd:complexType><xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="Request" type="contacteventmgmtdto:GetEventSummariesByAccountRequest" /></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="getEventSummariesByAccountResponse"><xsd:complexType><xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="Response" type="contacteventmgmtdto:GetEventSummariesByAccountResponse" /></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
