cdn/wwwroot/wsdl/crud/contacteventmgmt/contacteventmgmt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ContactEventMgmtService" targetNamespace="http://www.symxchange.generated.symitar.com/noncrud/contacteventmgmt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:contacteventmgmtdto="http://www.symxchange.generated.symitar.com/noncrud/contacteventmgmt/dto" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.symxchange.generated.symitar.com/noncrud/contacteventmgmt" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>Copyright 2017-2022 Jack Henry Software</wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/noncrud/contacteventmgmt">
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/noncrud/contacteventmgmt/dto" schemaLocation="contacteventmgmt.xsd"/>
      <xsd:element name="getEventSummariesByAccount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="contacteventmgmtdto:GetEventSummariesByAccountRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEventSummariesByAccountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="contacteventmgmtdto:GetEventSummariesByAccountResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getEventSummariesByAccountRequest">
    <wsdl:part element="tns:getEventSummariesByAccount" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getEventSummariesByAccountResponse">
    <wsdl:part element="tns:getEventSummariesByAccountResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ContactEventMgmtService">
    <wsdl:operation name="getEventSummariesByAccount">
      <wsdl:input message="tns:getEventSummariesByAccountRequest"/>
      <wsdl:output message="tns:getEventSummariesByAccountResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContactEventMgmtServiceBinding" type="tns:ContactEventMgmtService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEventSummariesByAccount">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/contacteventmgmt/getEventSummariesByAccount"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactEventMgmtService">
    <wsdl:port binding="tns:ContactEventMgmtServiceBinding" name="ContactEventMgmtServicePort">
      <soap:address location="https://symx-colorado.mdtsaas.com:6101/SymXchange/contacteventmgmt"/>
    </wsdl:port>
  </wsdl:service>
  <xsd:documentation>Version 1.0</xsd:documentation>
</wsdl:definitions>