api/wwwroot/wsdl/crud/wire/wire_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/crud/wire/dto/update" version="3.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:retrieve="http://www.symxchange.generated.symitar.com/crud/wire/dto/retrieve" xmlns:symxcommon="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:update="http://www.symxchange.generated.symitar.com/crud/wire/dto/update">
  <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="wire.xsd"/>
  <xsd:import namespace="http://www.symxchange.generated.symitar.com/crud/wire/dto/retrieve" schemaLocation="wire_1.xsd"/>
  <xsd:annotation>
    <xsd:documentation>Copyright 2014-2025 Jack Henry Software</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="Wire">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AcceptanceDate" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AcceptanceTime" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AdjustmentDate" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AdjustmentReason" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Amount" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ApplicationId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BatchNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BatchNumberChar" type="xsd:string"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="BeneficiaryAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryAddress" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryAdvice" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryAdviceCode" type="xsd:string"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="BeneficiaryFiAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryFiAddress" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryFiAdvice" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryFiAdviceCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryFiId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryFiIdCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryFiInfo" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryFiIntrnatlId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryFiName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryIdCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryInfo" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryReference" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BusinessFunctionCode" type="xsd:string"/>
      <xsd:element maxOccurs="4" minOccurs="0" name="ChargesCurrencyCode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ChargesCurrencyCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="CommentCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Destination" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DetailOfCharges" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Direction" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DrawdownCreditAccount" type="xsd:string"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="DrawdownDebitAccountAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DrawdownDebitAccountAddress" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="DrawdownDebitAccountId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DrawdownDebitAccountIdCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DrawdownDebitAccountName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DrawdownDebitAcctAdvice" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DrawdownDebitAcctAdviceCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EffectiveDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EnteredByCorporateUser" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EnteredByCorporateUserName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EnteredByMemberUser" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EnteredByMemberUserName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EnteredDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EnteredTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EnteredValidationMethod" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ErrorCategory" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ErrorCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ErrorDescription" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExchangeRate" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExtractDestination" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExtractedByCorporateUser" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExtractedByCorporateUserName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExtractedDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExtractedTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FiToFiInfo" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmLastPurgeDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FormatVersion" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAccount" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlCommentAddlInfo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlOffset" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Imad" type="xsd:string"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="InstructIngFiAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InstructIngFiAddress" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="InstructIngFiId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="InstructIngFiIdCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="InstructedAmount" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="InstructedAmtCurrencyCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="InstructingFiName" type="xsd:string"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IntermediaryFiAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IntermediaryFiAddress" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="IntermediaryFiAdvice" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IntermediaryFiAdviceCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IntermediaryFiId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IntermediaryFiIdCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IntermediaryFiInfo" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IntermediaryFiName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MessageDuplicationCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MessageStatusIndicator" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NotificationDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NotificationMethod" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NotificationStatus" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NotificationTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NotificationUser" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OfacDetails" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OfacStatus" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Omad" type="xsd:string"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="OriginatorAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OriginatorAddress" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="3" minOccurs="0" name="OriginatorFiAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OriginatorFiAddress" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="OriginatorFiId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OriginatorFiIdCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OriginatorFiName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OriginatorId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OriginatorIdCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OriginatorIdF" type="xsd:string"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="OriginatorLineCodeF">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OriginatorLineCodeF" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="3" minOccurs="0" name="OriginatorLineF">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OriginatorLineF" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="OriginatorName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OriginatorNameF" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OriginatorPartyIdF" type="xsd:string"/>
      <xsd:element maxOccurs="4" minOccurs="0" name="OriginatorToBeneficiaryInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OriginatorToBeneficiaryInfo" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="OtherAddLinFo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PaymentLimitation" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PaymentMethod" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PaymentMethodCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostingError" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreAuthTemplateName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreAuthTemplateNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreviousMessageImad" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReceiverFi" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReceiverFiInfo" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReceiverName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RegETran" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReleasedByCorporateUser" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReleasedByCorporateUserName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReleasedDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReleasedReason" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReleasedTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReturnRejectByCorpUser" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReturnRejectByCorpUserName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReturnRejectDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReturnRejectReason" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReturnRejectTime" type="xsd:short"/>
      <xsd:element maxOccurs="4" minOccurs="0" name="SenderCharges">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SenderCharges" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="SenderFi" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SenderName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SenderReferenceNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ServiceMessage" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ShareId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="StatementDescription" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TestProductionCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TranTypeCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TransactionSequenceNumChar" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TransactionSequenceNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TypeCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UpLoadedTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UploadedDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UrcData" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UscAuditTrailInfo" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="VerificationMemberContact" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="VerificationMemberContactName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="VerifiedByCorpUser" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="VerifiedByCorpUserName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="VerifiedByMemberUser" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="VerifiedByMemberUserName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="VerifiedDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="VerifiedTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="VerifiedValidationMethod" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="VerifiedValidationReason" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="WireFor" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAcctCurrency" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAcctIban" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAcctId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAcctIdCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAcctIdIssuer" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAcctIdProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="CdtrAcctName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAcctName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAcctProxyCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="CdtrAcctProxyId">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAcctProxyId" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAcctProxyProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAcctTypeCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAcctTypeProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcctCurrency" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcctIban" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcctId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcctIdCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcctIdIssuer" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcctIdProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="CdtrAgtAcctName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcctName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcctProxyCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="CdtrAgtAcctProxyId">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcctProxyId" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcctProxyProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcctTypeCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcctTypeProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1Bic" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1BuildingName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1BuildingNum" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1ClrSysMemId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1ClrSysMemIdCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1Country" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1CountrySubDiv" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent1Department">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1Department" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1DistrictName" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent1Floor">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1Floor" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1Lei" type="xsd:string"/>
        <xsd:element maxOccurs="4" minOccurs="0" name="ChargeAgent1Name">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1Name" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1PostBox" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1PostCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent1Room">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1Room" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent1StreetName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1StreetName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent1Subdepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1Subdepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1TownLocationName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent1TownName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2Bic" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2BuildingName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2BuildingNum" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2ClrSysMemId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2ClrSysMemIdCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2Country" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2CountrySubDiv" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent2Department">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2Department" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2DistrictName" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent2Floor">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2Floor" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2Lei" type="xsd:string"/>
        <xsd:element maxOccurs="4" minOccurs="0" name="ChargeAgent2Name">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2Name" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2PostBox" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2PostCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent2Room">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2Room" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent2StreetName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2StreetName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent2Subdepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2Subdepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2TownLocationName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent2TownName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3Bic" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3BuildingName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3BuildingNum" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3ClrSysMemId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3ClrSysMemIdCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3Country" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3CountrySubDiv" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent3Department">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3Department" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3DistrictName" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent3Floor">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3Floor" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3Lei" type="xsd:string"/>
        <xsd:element maxOccurs="4" minOccurs="0" name="ChargeAgent3Name">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3Name" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3PostBox" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3PostCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent3Room">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3Room" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent3StreetName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3StreetName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent3Subdepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3Subdepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3TownLocationName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent3TownName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4Bic" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4BuildingName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4BuildingNum" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4ClrSysMemId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4ClrSysMemIdCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4Country" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4CountrySubDiv" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent4Department">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4Department" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4DistrictName" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent4Floor">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4Floor" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4Lei" type="xsd:string"/>
        <xsd:element maxOccurs="4" minOccurs="0" name="ChargeAgent4Name">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4Name" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4PostBox" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4PostCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent4Room">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4Room" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent4StreetName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4StreetName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="ChargeAgent4Subdepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4Subdepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4TownLocationName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeAgent4TownName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ChargeBearer" type="xsd:short"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreationDateTime" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentBuildingName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentBuildingNum" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentClrSysMemId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentClrSysMemIdCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentCountry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentCountrySubDiv" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="CreditorAgentDepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentDepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentDistrictName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentFiBic" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentFiLei" type="xsd:string"/>
        <xsd:element maxOccurs="4" minOccurs="0" name="CreditorAgentFiName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentFiName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="CreditorAgentFloor">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentFloor" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentPostBox" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentPostCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="CreditorAgentRoom">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentRoom" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="CreditorAgentStreetName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentStreetName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="CreditorAgentSubdepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentSubdepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentTownLocationName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorAgentTownName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorBic" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorBuildingName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorBuildingNum" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorCountry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorCountrySubDiv" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="CreditorDepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CreditorDepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorDistrictName" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="CreditorFloor">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CreditorFloor" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorIdSchemeCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorIdSchemeName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorIssuer" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorLei" type="xsd:string"/>
        <xsd:element maxOccurs="4" minOccurs="0" name="CreditorName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CreditorName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorPostBox" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorPostCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="CreditorRoom">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CreditorRoom" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="CreditorStreetName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CreditorStreetName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="CreditorSubdepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CreditorSubdepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorTownLocationName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="CreditorTownName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcctCurrency" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcctIban" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcctId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcctIdCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcctIdIssuer" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcctIdProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="DbtrAgtAcctName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcctName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcctProxyCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="DbtrAgtAcctProxyId">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcctProxyId" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcctProxyProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcctTypeCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcctTypeProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAcctCurrency" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAcctIban" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAcctId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAcctIdCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAcctIdIssuer" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAcctIdProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="DebtorAcctName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAcctName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAcctProxyCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="DebtorAcctProxyId">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAcctProxyId" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAcctProxyProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAcctTypeCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAcctTypeProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentBic" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentBuildingName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentBuildingNum" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentClrSysMemId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentClrSysMemIdCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentCountry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentCountrySubDiv" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="DebtorAgentDepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentDepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentDistrictName" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="DebtorAgentFloor">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentFloor" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentLei" type="xsd:string"/>
        <xsd:element maxOccurs="4" minOccurs="0" name="DebtorAgentName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentPostBox" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentPostCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="DebtorAgentRoom">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentRoom" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="DebtorAgentStreetName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentStreetName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="DebtorAgentSubdepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentSubdepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentTownLocationName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorAgentTownName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorBic" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorBuildingName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorBuildingNum" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorCountry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorCountrySubDiv" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="DebtorDepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DebtorDepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorDistrictName" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="DebtorFloor">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DebtorFloor" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorIdSchemeCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorIdSchemeName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorIssuer" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorLei" type="xsd:string"/>
        <xsd:element maxOccurs="4" minOccurs="0" name="DebtorName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DebtorName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorPostBox" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorPostCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="DebtorRoom">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DebtorRoom" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="DebtorStreetName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DebtorStreetName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="DebtorSubdepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DebtorSubdepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorTownLocationName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="DebtorTownName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyBuildingName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyBuildingNum" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyCountry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyCountrySubDiv" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyCtryOfRes" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="InitgPtyDepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyDepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyDistrictName" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="InitgPtyFloor">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyFloor" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="4" minOccurs="0" name="InitgPtyName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyOrgId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyOrgIdBic" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyOrgIdIssuer" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyOrgIdLei" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyOrgIdSchemeCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyOrgIdSchemePrtry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyPostBox" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyPostCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyPrvtIdBirthDt" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyPrvtIdCityOfBirth" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyPrvtIdCtryOfBirth" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyPrvtIdId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyPrvtIdIdIssuer" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyPrvtIdIdSchemeCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyPrvtIdIdSchemePrtry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyPrvtIdPrvcOfBirth" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="InitgPtyRoom">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyRoom" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="InitgPtyStreetName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyStreetName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="InitgPtySubdepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtySubdepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyTownLocationName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InitgPtyTownName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="Instr1ForCdtrAgtCode" type="xsd:short"/>
        <xsd:element maxOccurs="4" minOccurs="0" name="Instr1ForCdtrAgtInfo">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Instr1ForCdtrAgtInfo" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="Instr2ForCdtrAgtCode" type="xsd:short"/>
        <xsd:element maxOccurs="4" minOccurs="0" name="Instr2ForCdtrAgtInfo">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Instr2ForCdtrAgtInfo" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="InstructingFiName2" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InstructingFiName3" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="InstructingFiName4" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiBic" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiBuildingName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiBuildingNum" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiClrSysMemIdCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiCountry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiCountrySubDiv" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="IntermedFiDepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiDepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiDistrictName" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="IntermedFiFloor">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiFloor" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiLei" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiPostBox" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiPostCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="IntermedFiRoom">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiRoom" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="IntermedFiStreetName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiStreetName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="IntermedFiSubdepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiSubdepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiTownLocationName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntermedFiTownName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntermediaryFiName2" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntermediaryFiName3" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntermediaryFiName4" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1AcctCurrency" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1AcctIban" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1AcctId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1AcctIdCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1AcctIdIssuer" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1AcctIdProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="IntrmyAgt1AcctName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1AcctName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1AcctProxyCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="IntrmyAgt1AcctProxyId">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1AcctProxyId" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1AcctProxyProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1AcctTypeCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1AcctTypeProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="MessageType" type="xsd:short"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentAcctCurrency" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentAcctIban" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentAcctId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentAcctIdCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentAcctIdIssuer" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentAcctIdProprietary" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="PrevInstrAgentAcctName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentAcctName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentAcctProxyCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="PrevInstrAgentAcctProxyId">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentAcctProxyId" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentAcctProxyPrtry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentAcctTypeCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentAcctTypePrtry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentBuildingName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentBuildingNum" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentCountry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentCountrySubDiv" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="PrevInstrAgentDepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentDepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentDistrictName" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="PrevInstrAgentFloor">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentFloor" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentPostBox" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentPostCode" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="PrevInstrAgentRoom">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentRoom" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="PrevInstrAgentStreetName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentStreetName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="PrevInstrAgentSubdepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentSubdepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgentTownName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstrAgtTownLocationName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstructAgentBic" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstructAgentClrSysMemIdCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevInstructAgentLei" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevMsgCreationDateTime" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="PrevMsgNameId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ReturnReasonCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="TransactionId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="Uetr" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrBuildingName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrBuildingNum" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrCountry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrCountrySubDiv" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrCtryOfRes" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="UltmtCdtrDepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrDepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrDistrictName" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="UltmtCdtrFloor">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrFloor" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="4" minOccurs="0" name="UltmtCdtrName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrOrgId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrOrgIdBic" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrOrgIdIssuer" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrOrgIdLei" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrOrgIdSchemeCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrOrgIdSchemePrtry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrPostBox" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrPostCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrPrvtIdBirthDt" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrPrvtIdCityOfBirth" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrPrvtIdCtryOfBirth" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrPrvtIdId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrPrvtIdIdIssuer" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrPrvtIdIdSchemeCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrPrvtIdIdSchemePrtry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrPrvtIdPrvcOfBirth" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="UltmtCdtrRoom">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrRoom" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="UltmtCdtrStreetName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrStreetName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="UltmtCdtrSubdepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrSubdepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrTownLocationName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtCdtrTownName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrBuildingName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrBuildingNum" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrCountry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrCountrySubDiv" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrCtryOfRes" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="UltmtDbtrDepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrDepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrDistrictName" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="UltmtDbtrFloor">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrFloor" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="4" minOccurs="0" name="UltmtDbtrName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrOrgId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrOrgIdBic" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrOrgIdIssuer" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrOrgIdLei" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrOrgIdSchemeCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrOrgIdSchemePrtry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrPostBox" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrPostCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrPrvtIdBirthDt" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrPrvtIdCityOfBirth" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrPrvtIdCtryOfBirth" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrPrvtIdId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrPrvtIdIdIssuer" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrPrvtIdIdSchemeCode" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrPrvtIdIdSchemePrtry" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrPrvtIdPrvcOfBirth" type="xsd:string"/>
        <xsd:element maxOccurs="2" minOccurs="0" name="UltmtDbtrRoom">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrRoom" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="UltmtDbtrStreetName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrStreetName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="2" minOccurs="0" name="UltmtDbtrSubdepartment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrSubdepartment" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrTownLocationName" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="UltmtDbtrTownName" type="xsd:string"/>
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_2" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="WireSequenceNumber" type="xsd:int"/>
      <xsd:element name="WireFields" type="update:WireFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireFields">
    <xsd:complexContent>
      <xsd:extension base="update:Wire"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WireBeneficiaryAdv">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="Text">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Text" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireBeneficiaryAdvUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="WireBeneficiaryAdvLocator" type="xsd:int"/>
      <xsd:element name="WireBeneficiaryAdvFields" type="update:WireBeneficiaryAdvFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireBeneficiaryAdvFields">
    <xsd:complexContent>
      <xsd:extension base="update:WireBeneficiaryAdv"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WireBeneficiaryFiAdv">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="Text">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Text" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireBeneficiaryFiAdvUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="WireBeneficiaryFiAdvLocator" type="xsd:int"/>
      <xsd:element name="WireBeneficiaryFiAdvFields" type="update:WireBeneficiaryFiAdvFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireBeneficiaryFiAdvFields">
    <xsd:complexContent>
      <xsd:extension base="update:WireBeneficiaryFiAdv"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WireBeneficiaryFiInfo">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="Text">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Text" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireBeneficiaryFiInfoUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="WireBeneficiaryFiInfoLocator" type="xsd:int"/>
      <xsd:element name="WireBeneficiaryFiInfoFields" type="update:WireBeneficiaryFiInfoFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireBeneficiaryFiInfoFields">
    <xsd:complexContent>
      <xsd:extension base="update:WireBeneficiaryFiInfo"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WireBeneficiaryInfo">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="Text">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Text" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireBeneficiaryInfoUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="WireBeneficiaryInfoLocator" type="xsd:int"/>
      <xsd:element name="WireBeneficiaryInfoFields" type="update:WireBeneficiaryInfoFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireBeneficiaryInfoFields">
    <xsd:complexContent>
      <xsd:extension base="update:WireBeneficiaryInfo"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WireDrawdownDebitAcctAdv">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="Text">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Text" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireDrawdownDebitAcctAdvUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="WireDrawdownDebitAcctAdvLocator" type="xsd:int"/>
      <xsd:element name="WireDrawdownDebitAcctAdvFields" type="update:WireDrawdownDebitAcctAdvFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireDrawdownDebitAcctAdvFields">
    <xsd:complexContent>
      <xsd:extension base="update:WireDrawdownDebitAcctAdv"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WireFiToFiInfo">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="Text">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Text" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireFiToFiInfoUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="WireFiToFiInfoLocator" type="xsd:int"/>
      <xsd:element name="WireFiToFiInfoFields" type="update:WireFiToFiInfoFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireFiToFiInfoFields">
    <xsd:complexContent>
      <xsd:extension base="update:WireFiToFiInfo"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WireIntermedFiAdv">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="Text">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Text" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireIntermedFiAdvUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="WireIntermedFiAdvLocator" type="xsd:int"/>
      <xsd:element name="WireIntermedFiAdvFields" type="update:WireIntermedFiAdvFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireIntermedFiAdvFields">
    <xsd:complexContent>
      <xsd:extension base="update:WireIntermedFiAdv"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WireIntermedFiInfo">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="Text">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Text" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireIntermedFiInfoUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="WireIntermedFiInfoLocator" type="xsd:int"/>
      <xsd:element name="WireIntermedFiInfoFields" type="update:WireIntermedFiInfoFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireIntermedFiInfoFields">
    <xsd:complexContent>
      <xsd:extension base="update:WireIntermedFiInfo"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WireOfacDetails">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="Text">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Text" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireOfacDetailsUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="WireOfacDetailsLocator" type="xsd:int"/>
      <xsd:element name="WireOfacDetailsFields" type="update:WireOfacDetailsFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireOfacDetailsFields">
    <xsd:complexContent>
      <xsd:extension base="update:WireOfacDetails"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WireReceiverFiInfo">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="Text">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Text" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireReceiverFiInfoUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="WireReceiverFiInfoLocator" type="xsd:int"/>
      <xsd:element name="WireReceiverFiInfoFields" type="update:WireReceiverFiInfoFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireReceiverFiInfoFields">
    <xsd:complexContent>
      <xsd:extension base="update:WireReceiverFiInfo"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WireServiceMessage">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="Text">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Text" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireServiceMessageUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="WireServiceMessageLocator" type="xsd:int"/>
      <xsd:element name="WireServiceMessageFields" type="update:WireServiceMessageFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireServiceMessageFields">
    <xsd:complexContent>
      <xsd:extension base="update:WireServiceMessage"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WireUscAuditInfo">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="20" minOccurs="0" name="Text">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Text" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireUscAuditInfoUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="WireUscAuditInfoLocator" type="xsd:int"/>
      <xsd:element name="WireUscAuditInfoFields" type="update:WireUscAuditInfoFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WireUscAuditInfoFields">
    <xsd:complexContent>
      <xsd:extension base="update:WireUscAuditInfo"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>