cdn/wwwroot/wsdl/crud/exceptionitem/exceptionitem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ExceptionItemService" targetNamespace="http://www.symxchange.generated.symitar.com/crud/exceptionitem" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:retrieve="http://www.symxchange.generated.symitar.com/crud/exceptionitem/dto/retrieve" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:symxcommon="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:tns="http://www.symxchange.generated.symitar.com/crud/exceptionitem" xmlns:update="http://www.symxchange.generated.symitar.com/crud/exceptionitem/dto/update" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>Copyright 2014-2025 Jack Henry Software</wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/crud/exceptionitem">
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="exceptionitem.xsd"/>
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/crud/exceptionitem/dto/retrieve" schemaLocation="exceptionitem_1.xsd"/>
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/crud/exceptionitem/dto/update" schemaLocation="exceptionitem_2.xsd"/>
      <xsd:complexType name="ExcpItemSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequenceDate" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequence" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ExcpItemSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ExcpItemSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItem" type="retrieve:ExcpItem"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ExcpItemSelectFieldsFilterChildrenRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequenceDate" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequence" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ExcpItemSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ChildrenSearchFilter" type="retrieve:ExcpItemChildrenFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ExcpItemSelectFieldsFilterChildrenResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItem" type="retrieve:ExcpItem"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ExcpAddInfoSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequenceDate" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequence" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpAddInfoLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ExcpAddInfoSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ExcpAddInfoSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpAddInfo" type="retrieve:ExcpAddInfo"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ExcpAddInfoPagedListSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequenceDate" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequence" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ExcpAddInfoSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ExcpAddInfoPagedListSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ExcpAddInfo" type="retrieve:ExcpAddInfo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ExcpAddInfoSearchPagedSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequenceDate" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequence" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ExcpAddInfoSingleSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SearchFilter" type="retrieve:ExcpAddInfoSearchFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ExcpAddInfoSearchPagedSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ExcpAddInfo" type="retrieve:ExcpAddInfo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ExcpAddendaSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequenceDate" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequence" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpAddendaLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ExcpAddendaSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ExcpAddendaSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpAddenda" type="retrieve:ExcpAddenda"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ExcpAddendaPagedListSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequenceDate" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequence" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ExcpAddendaSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ExcpAddendaPagedListSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ExcpAddenda" type="retrieve:ExcpAddenda"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ExcpAddendaSearchPagedSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequenceDate" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExcpItemGlobalSequence" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ExcpAddendaSingleSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SearchFilter" type="retrieve:ExcpAddendaSearchFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ExcpAddendaSearchPagedSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ExcpAddenda" type="retrieve:ExcpAddenda"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:element name="getExcpItemSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ExcpItemSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExcpItemSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:ExcpItemSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExcpItemSelectFieldsFilterChildren">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ExcpItemSelectFieldsFilterChildrenRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExcpItemSelectFieldsFilterChildrenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:ExcpItemSelectFieldsFilterChildrenResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExcpAddInfoSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ExcpAddInfoSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExcpAddInfoSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:ExcpAddInfoSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExcpAddInfoPagedListSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ExcpAddInfoPagedListSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExcpAddInfoPagedListSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:ExcpAddInfoPagedListSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchExcpAddInfoPagedSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ExcpAddInfoSearchPagedSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchExcpAddInfoPagedSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:ExcpAddInfoSearchPagedSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExcpAddendaSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ExcpAddendaSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExcpAddendaSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:ExcpAddendaSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExcpAddendaPagedListSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ExcpAddendaPagedListSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExcpAddendaPagedListSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:ExcpAddendaPagedListSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchExcpAddendaPagedSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ExcpAddendaSearchPagedSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchExcpAddendaPagedSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:ExcpAddendaSearchPagedSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:attribute name="BranchId" type="xsd:short"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getExcpItemSelectFieldsFilterChildrenRequest">
    <wsdl:part element="tns:getExcpItemSelectFieldsFilterChildren" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getExcpItemSelectFieldsFilterChildrenResponse">
    <wsdl:part element="tns:getExcpItemSelectFieldsFilterChildrenResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getExcpAddendaPagedListSelectFieldsResponse">
    <wsdl:part element="tns:getExcpAddendaPagedListSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchExcpAddInfoPagedSelectFieldsResponse">
    <wsdl:part element="tns:searchExcpAddInfoPagedSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getExcpAddInfoSelectFieldsRequest">
    <wsdl:part element="tns:getExcpAddInfoSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getExcpItemSelectFieldsResponse">
    <wsdl:part element="tns:getExcpItemSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getExcpAddInfoSelectFieldsResponse">
    <wsdl:part element="tns:getExcpAddInfoSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getExcpAddInfoPagedListSelectFieldsResponse">
    <wsdl:part element="tns:getExcpAddInfoPagedListSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getExcpAddendaPagedListSelectFieldsRequest">
    <wsdl:part element="tns:getExcpAddendaPagedListSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchExcpAddendaPagedSelectFieldsRequest">
    <wsdl:part element="tns:searchExcpAddendaPagedSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getExcpAddendaSelectFieldsResponse">
    <wsdl:part element="tns:getExcpAddendaSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getExcpAddendaSelectFieldsRequest">
    <wsdl:part element="tns:getExcpAddendaSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchExcpAddendaPagedSelectFieldsResponse">
    <wsdl:part element="tns:searchExcpAddendaPagedSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getExcpItemSelectFieldsRequest">
    <wsdl:part element="tns:getExcpItemSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getExcpAddInfoPagedListSelectFieldsRequest">
    <wsdl:part element="tns:getExcpAddInfoPagedListSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchExcpAddInfoPagedSelectFieldsRequest">
    <wsdl:part element="tns:searchExcpAddInfoPagedSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ExceptionItemService">
    <wsdl:operation name="getExcpItemSelectFields">
      <wsdl:input message="tns:getExcpItemSelectFieldsRequest"/>
      <wsdl:output message="tns:getExcpItemSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getExcpItemSelectFieldsFilterChildren">
      <wsdl:input message="tns:getExcpItemSelectFieldsFilterChildrenRequest"/>
      <wsdl:output message="tns:getExcpItemSelectFieldsFilterChildrenResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getExcpAddInfoSelectFields">
      <wsdl:input message="tns:getExcpAddInfoSelectFieldsRequest"/>
      <wsdl:output message="tns:getExcpAddInfoSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getExcpAddInfoPagedListSelectFields">
      <wsdl:input message="tns:getExcpAddInfoPagedListSelectFieldsRequest"/>
      <wsdl:output message="tns:getExcpAddInfoPagedListSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="searchExcpAddInfoPagedSelectFields">
      <wsdl:input message="tns:searchExcpAddInfoPagedSelectFieldsRequest"/>
      <wsdl:output message="tns:searchExcpAddInfoPagedSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getExcpAddendaSelectFields">
      <wsdl:input message="tns:getExcpAddendaSelectFieldsRequest"/>
      <wsdl:output message="tns:getExcpAddendaSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getExcpAddendaPagedListSelectFields">
      <wsdl:input message="tns:getExcpAddendaPagedListSelectFieldsRequest"/>
      <wsdl:output message="tns:getExcpAddendaPagedListSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="searchExcpAddendaPagedSelectFields">
      <wsdl:input message="tns:searchExcpAddendaPagedSelectFieldsRequest"/>
      <wsdl:output message="tns:searchExcpAddendaPagedSelectFieldsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExceptionItemServiceSOAPBinding" type="tns:ExceptionItemService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getExcpItemSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/exceptionitem/getExcpItemSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExcpItemSelectFieldsFilterChildren">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/exceptionitem/getExcpItemSelectFieldsFilterChildren"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExcpAddInfoSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/exceptionitem/getExcpAddInfoSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExcpAddInfoPagedListSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/exceptionitem/getExcpAddInfoPagedListSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchExcpAddInfoPagedSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/exceptionitem/searchExcpAddInfoPagedSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExcpAddendaSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/exceptionitem/getExcpAddendaSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExcpAddendaPagedListSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/exceptionitem/getExcpAddendaPagedListSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchExcpAddendaPagedSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/exceptionitem/searchExcpAddendaPagedSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExceptionItemService">
    <wsdl:port binding="tns:ExceptionItemServiceSOAPBinding" name="ExceptionItemServicePort">
      <soap:address location="https://symx-colorado.mdtsaas.com:6101/SymXchange/exceptionitem"/>
    </wsdl:port>
  </wsdl:service>
  <xsd:documentation>Version 3.0</xsd:documentation>
</wsdl:definitions>