cdn/wwwroot/wsdl/crud/accountspayable/accountspayable_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/crud/accountspayable/dto/update" version="3.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:retrieve="http://www.symxchange.generated.symitar.com/crud/accountspayable/dto/retrieve" xmlns:symxcommon="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:update="http://www.symxchange.generated.symitar.com/crud/accountspayable/dto/update">
  <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="accountspayable.xsd"/>
  <xsd:import namespace="http://www.symxchange.generated.symitar.com/crud/accountspayable/dto/retrieve" schemaLocation="accountspayable_1.xsd"/>
  <xsd:annotation>
    <xsd:documentation>Copyright 2014-2025 Jack Henry Software</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="Vendor">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AchGroupNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AddressType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AltEmail" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="City" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Comment1" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CompanyDisc" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CompanyEntryDesc" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Contact" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Contact2" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Contact2Desc" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Contact2Ext" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Contact2Phone" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ContactDesc" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreditLastYear" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreditYtd" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CustomerId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DebitLastYear" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DebitYtd" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DfiAccount" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Email" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExtraAddress" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Fax" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmLastPurgeDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAcctsPay" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlDiscount" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlExpense" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlNameAcctsPay" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlNameDiscount" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlNameExpense" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IrsAmountCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IrsCorrection" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IrsNameControl" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IrsReporting" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IrsReportingName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastPaymentAmount" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastPaymentDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Number" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Payee" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Phone" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PhoneExtension" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RdfiRt" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReceivingComp" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RestrictionLevel" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Ssn" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsnType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="State" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Street" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UnpaidBalance" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ZipCode" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="VendorNumber" type="xsd:string"/>
      <xsd:element name="VendorFields" type="update:VendorFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorFields">
    <xsd:complexContent>
      <xsd:extension base="update:Vendor"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Invoice">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AchAcknowledge" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AchGroupNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AchTranCodeOut" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AdditionalDesc" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ApPaymentTermsType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Approval" type="xsd:string"/>
      <xsd:element maxOccurs="50" minOccurs="0" name="CompletedActions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CompletedActions" type="xsd:short"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreateAddenda" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DfiAccount" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DiscountAmount" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DiscountDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DiscountTaken" type="xsd:decimal"/>
      <xsd:element maxOccurs="12" minOccurs="0" name="DueAmount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DueAmount" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="12" minOccurs="0" name="DueDate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DueDate" nillable="true" type="xsd:date"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="DueDateFinal" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Event" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EventDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExpEffectiveDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExpPostDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="12" minOccurs="0" name="ExpenseAmount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ExpenseAmount" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="12" minOccurs="0" name="ExpenseTable">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ExpenseTable" type="xsd:short"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAcctsPay" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlDiscount" type="xsd:string"/>
      <xsd:element maxOccurs="12" minOccurs="0" name="GlExpense">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GlExpense" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlNameAcctsPay" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlNameDiscount" type="xsd:string"/>
      <xsd:element maxOccurs="12" minOccurs="0" name="GlNameExpense">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GlNameExpense" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ImageId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceFrequency" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NextRecurInvoiceDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Number" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OriginatingInvoiceNumber" type="xsd:string"/>
      <xsd:element maxOccurs="12" minOccurs="0" name="PaymentAmount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PaymentAmount" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="12" minOccurs="0" name="PaymentCheck">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PaymentCheck" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="12" minOccurs="0" name="PaymentDate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PaymentDate" nillable="true" type="xsd:date"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="PaymentMethod" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PoNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreNoteDfiAccount" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecurrenceDay1" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecurrenceDay2" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecurrenceEndDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RemainingRecurringInvoices" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TotalExpenses" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TotalInvoiceAmtDue" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TotalPayments" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UnpaidBalance" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="User" type="xsd:short"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InvoiceUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceLocator" type="xsd:int"/>
      <xsd:element name="InvoiceFields" type="update:InvoiceFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InvoiceFields">
    <xsd:complexContent>
      <xsd:extension base="update:Invoice"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InvoiceNote">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Code" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EnterDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EnterTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExpirationDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="50" minOccurs="0" name="Text">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Text" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserId" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="VoidFlag" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="VoidedBy" type="xsd:short"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InvoiceNoteUpdateRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceNoteLocator" type="xsd:int"/>
      <xsd:element name="InvoiceNoteFields" type="update:InvoiceNoteFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InvoiceNoteFields">
    <xsd:complexContent>
      <xsd:extension base="update:InvoiceNote"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>