api/wwwroot/wsdl/crud/member/member_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/crud/member/dto/retrieve" version="3.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:retrieve="http://www.symxchange.generated.symitar.com/crud/member/dto/retrieve" xmlns:symxcommon="http://www.symxchange.generated.symitar.com/symxcommon">
  <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="member.xsd"/>
  <xsd:annotation>
    <xsd:documentation>Copyright 2014-2025 Jack Henry Software</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="MemberRec">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDuty" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDutySeparationDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDutyStartDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDutyVerificationDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AltEmail" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BirthDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Chapter4StatusCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CtrExempt" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CurrGrossMonthPay" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CurrNetMonthPay" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaExtendedName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaFirst" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaLast" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaLongName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaMiddle" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaNameFormat" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaShortName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaSuffix" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaTitle" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DeathDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Email" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EmployerName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExtendedName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="First" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ForeignTin" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FormW8OnFile" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GIin" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="HomePhone" type="xsd:string"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentDocFlag">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdentDocFlag" type="xsd:short"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdDescription">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdentIdDescription" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdExpireDate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdentIdExpireDate" type="xsd:date"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdIssueDate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdentIdIssueDate" type="xsd:date"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdNumber">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdentIdNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdentIdType" type="xsd:short"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdVerifyDate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdentIdVerifyDate" type="xsd:date"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="IrsCountryCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Last" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Lei" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="License" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Lob" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LongName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrActivityDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrCreateDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrCurrMthPayChgDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrDisconnectDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrExpDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrFileType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrFmLastDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrFmLastPurgeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrRecordChangeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrStatus" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrStatusFmDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MemberNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MemberRecFmHistoryList" type="retrieve:MemberRecFmHistoryList"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Middle" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MobilePhone" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MothersMaidenName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NameFormat" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NraExemptionCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NraTaxRate" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Occupation" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PagerNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PhoneType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreferredContact" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreferredContactMethod" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Restrict" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Sex" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ShortName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Ssn" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsnType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubstantialOwner" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Suffix" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Title" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UsPersonFlag" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount1" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount2" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar1" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar2" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar3" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar4" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate1" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate2" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="W8ExpirationDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="WorkPhone" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="WorkPhoneExtension" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MemberRecFmHistoryList">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="hasReachedMaximumListSize" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MemberRecFmHistory" type="retrieve:MemberRecFmHistory"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MemberRecChildrenFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="MemberRecFmHistoryFilter" type="retrieve:MemberRecFmHistoryFilter"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MemberRecSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllMemberRecFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MemberRecFields" type="retrieve:MemberRecFields"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MemberRecFmHistorySelectableFields" type="retrieve:MemberRecFmHistorySelectableFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MemberRecFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDuty" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDutySeparationDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDutyStartDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ActiveDutyVerificationDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AltEmail" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BirthDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Chapter4StatusCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CtrExempt" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CurrGrossMonthPay" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CurrNetMonthPay" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaExtendedName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaFirst" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaLast" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaLongName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaMiddle" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaNameFormat" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaShortName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaSuffix" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DbaTitle" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DeathDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Email" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EmployerName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExtendedName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="First" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ForeignTin" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FormW8OnFile" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GIin" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="HomePhone" type="xsd:boolean"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentDocFlag" type="xsd:short"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdDescription" type="xsd:short"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdExpireDate" type="xsd:short"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdIssueDate" type="xsd:short"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdNumber" type="xsd:short"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdType" type="xsd:short"/>
      <xsd:element maxOccurs="3" minOccurs="0" name="IdentIdVerifyDate" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IrsCountryCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Last" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Lei" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="License" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Lob" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LongName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrActivityDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrCreateDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrCurrMthPayChgDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrDisconnectDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrExpDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrFileType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrFmLastDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrFmLastPurgeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrRecordChangeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrStatus" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MbrStatusFmDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MemberNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Middle" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MobilePhone" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MothersMaidenName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NameFormat" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NraExemptionCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NraTaxRate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Occupation" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PagerNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PhoneType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreferredContact" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PreferredContactMethod" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Restrict" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Sex" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ShortName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Ssn" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SsnType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubstantialOwner" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Suffix" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Title" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UsPersonFlag" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar4" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="W8ExpirationDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="WorkPhone" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="WorkPhoneExtension" type="xsd:boolean"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MemberRecSingleSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllMemberRecFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MemberRecFields" type="retrieve:MemberRecFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MemberRecFmHistory">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BatchSequence" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Branch" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConfirmationNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConfirmationSeq" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConsoleNumber" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DataType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewCharacter" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewMoney" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewRate" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldCharacter" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldMoney" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldRate" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ProcessorUser" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordType" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SecurityLevels" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubFieldNumber" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserOverride" type="xsd:short"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MemberRecFmHistorySearchFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="StartPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EndPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MemberRecFmHistoryFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="StartPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EndPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MemberRecFmHistorySelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllMemberRecFmHistoryFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MemberRecFmHistoryFields" type="retrieve:MemberRecFmHistoryFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MemberRecFmHistoryFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BatchSequence" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Branch" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConfirmationNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConfirmationSeq" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConsoleNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DataType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewCharacter" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewMoney" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewRate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldCharacter" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldMoney" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldRate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostTime" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ProcessorUser" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SecurityLevels" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubFieldNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserOverride" type="xsd:boolean"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MemberRecFmHistorySingleSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllMemberRecFmHistoryFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MemberRecFmHistoryFields" type="retrieve:MemberRecFmHistoryFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>