cdn/wwwroot/wsdl/crud/finrep/finrep.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.symxchange.generated.symitar.com/symxcommon">
  <xsd:annotation>
    <xsd:documentation>Copyright 2014-2023 Jack Henry Software</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="BitMap">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Bit" type="xsd:short"/>
    </xsd:sequence>
    <xsd:attribute default="false" name="all" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:complexType name="Status">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="StatusCode" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Message" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeviceInformation">
    <xsd:attribute name="DeviceType" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="DeviceNumber" type="xsd:short" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="UpdateStatus">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="isAllFieldsUpdateSuccess">
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="FailedUpdateStatus" type="tns:FailedUpdateStatus"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FailedUpdateStatus">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Record">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ErrorCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ErrorMessage">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="PrimaryKeyField" type="tns:PrimaryKeyField"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrimaryKeyField">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="Value">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identification">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="HomeBankingUserName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="LoginAccountNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrimaryVerification">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AudioAccessCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="HomeBankingPassword">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SecondaryVerification">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="SocialSecurityNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="9"/>
            <xsd:minLength value="9"/>
            <xsd:pattern value="[0-9]+"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="SSNLastFourDigits">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
            <xsd:minLength value="4"/>
            <xsd:pattern value="[0-9]+"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="SecondaryHomeBankingPassword">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="SecondaryAudioAccessCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdministrativeCredentials">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Password">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PagingRequestContext">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="NumberOfRecordsToReturn">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="NumberOfRecordsToSkip">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CredentialsChoice">
    <xsd:choice>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumberCredentials" type="tns:AccountNumberCredentials"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="HomeBankingCredentials" type="tns:HomeBankingCredentials"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CardCredentials" type="tns:CardCredentials"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MICRCredentials" type="tns:MICRCredentials"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LookupCredentials" type="tns:LookupCredentials"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumberCredentials" type="tns:UserNumberCredentials"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AdministrativeCredentials" type="tns:AdministrativeCredentials"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TokenCredentials" type="tns:TokenCredentials"/>
    </xsd:choice>
    <xsd:attribute ref="tns:ProcessorUser"/>
  </xsd:complexType>
  <xsd:complexType name="AccountNumberCredentials">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="OptionalUserCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:choice>
        <xsd:element maxOccurs="1" minOccurs="0" name="HomeBankingPassword">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="0"/>
              <xsd:maxLength value="20"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="AudioAccessCode">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="0"/>
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:choice>
      <xsd:element maxOccurs="1" minOccurs="0" name="SecondaryVerification" type="tns:SecondaryVerification"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HomeBankingCredentials">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Password">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="SecondaryVerification" type="tns:SecondaryVerification"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CardCredentials">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="CardNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MICRCredentials">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="MICRNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="30"/>
            <xsd:pattern value="\d*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LookupCredentials">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Value">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="OptionalUserCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:choice>
        <xsd:element maxOccurs="1" minOccurs="0" name="HomeBankingPassword">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="0"/>
              <xsd:maxLength value="20"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="0" name="AudioAccessCode">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="0"/>
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:choice>
      <xsd:element maxOccurs="1" minOccurs="0" name="SecondaryVerification" type="tns:SecondaryVerification"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdminCredentialsChoice">
    <xsd:choice>
      <xsd:element maxOccurs="1" minOccurs="0" name="AdministrativeCredentials" type="tns:AdministrativeCredentials"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumberCredentials" type="tns:UserNumberCredentials"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TokenCredentials" type="tns:TokenCredentials"/>
    </xsd:choice>
    <xsd:attribute ref="tns:ProcessorUser"/>
  </xsd:complexType>
  <xsd:complexType name="BaseResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="StatusMessage" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute ref="tns:MessageId" use="required"/>
    <xsd:attribute name="StatusCode" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="UserNumberCredentials">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Password" type="tns:Password"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TokenCredentials">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="TokenId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="512"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="authenticationCredentials">
    <xsd:sequence>
      <xsd:choice maxOccurs="1" minOccurs="1">
        <xsd:element name="LDAPCredentials" type="tns:ldapCredentials"/>
        <xsd:element name="KerberosCredentials" type="tns:kerberosCredentials"/>
        <xsd:element name="IMSCredentials" type="tns:imsCredentials"/>
      </xsd:choice>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ldapCredentials">
    <xsd:sequence>
      <xsd:element name="UserId" type="tns:userId"/>
      <xsd:element name="Password" type="tns:password"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="kerberosCredentials">
    <xsd:sequence>
      <xsd:element name="kerberosTicket" type="xsd:base64Binary"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="imsCredentials">
    <xsd:sequence>
      <xsd:element name="samlAssertion" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="tns:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="userId">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="password">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="AccountNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UserNumber">
    <xsd:restriction base="xsd:short">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9999"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Password">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:attribute name="ProcessorUser">
    <xsd:simpleType>
      <xsd:restriction base="xsd:short">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="9999"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="MessageId" type="xsd:string"/>
  <xsd:attribute name="BranchId">
    <xsd:simpleType>
      <xsd:restriction base="xsd:short">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="9999"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:complexType name="Version_Type">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Object tag that represents an iteration of the object</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
</xsd:schema>