cdn/wwwroot/wsdl/crud/participant/participant.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ParticipantService" targetNamespace="http://www.symxchange.generated.symitar.com/crud/participant" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:retrieve="http://www.symxchange.generated.symitar.com/crud/participant/dto/retrieve" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:symxcommon="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:tns="http://www.symxchange.generated.symitar.com/crud/participant" xmlns:update="http://www.symxchange.generated.symitar.com/crud/participant/dto/update" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>Copyright 2014-2025 Jack Henry Software</wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/crud/participant">
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="participant.xsd"/>
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/crud/participant/dto/retrieve" schemaLocation="participant_1.xsd"/>
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/crud/participant/dto/update" schemaLocation="participant_2.xsd"/>
      <xsd:complexType name="ParticipantSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ParticipantNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ParticipantSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Participant" type="retrieve:Participant"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantSelectFieldsFilterChildrenRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ParticipantNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ParticipantSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ChildrenSearchFilter" type="retrieve:ParticipantChildrenFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantSelectFieldsFilterChildrenResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Participant" type="retrieve:Participant"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantFmHistoryPagedListSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ParticipantNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ParticipantFmHistorySingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantFmHistoryPagedListSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParticipantFmHistory" type="retrieve:ParticipantFmHistory"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantFmHistorySearchPagedSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ParticipantNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ParticipantFmHistorySingleSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SearchFilter" type="retrieve:ParticipantFmHistorySearchFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantFmHistorySearchPagedSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParticipantFmHistory" type="retrieve:ParticipantFmHistory"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantNoteSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ParticipantNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ParticipantNoteLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ParticipantNoteSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantNoteSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ParticipantNote" type="retrieve:ParticipantNote"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantNotePagedListSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ParticipantNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ParticipantNoteSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantNotePagedListSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParticipantNote" type="retrieve:ParticipantNote"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantNoteSearchPagedSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ParticipantNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ParticipantNoteSingleSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SearchFilter" type="retrieve:ParticipantNoteSearchFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantNoteSearchPagedSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParticipantNote" type="retrieve:ParticipantNote"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantTransactionPagedListSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ParticipantNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ParticipantTransactionSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantTransactionPagedListSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParticipantTransaction" type="retrieve:ParticipantTransaction"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantTransactionSearchPagedSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ParticipantNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ParticipantTransactionSingleSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SearchFilter" type="retrieve:ParticipantTransactionSearchFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ParticipantTransactionSearchPagedSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParticipantTransaction" type="retrieve:ParticipantTransaction"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:element name="getParticipantSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ParticipantSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getParticipantSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:ParticipantSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getParticipantSelectFieldsFilterChildren">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ParticipantSelectFieldsFilterChildrenRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getParticipantSelectFieldsFilterChildrenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:ParticipantSelectFieldsFilterChildrenResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getParticipantFmHistoryPagedListSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ParticipantFmHistoryPagedListSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getParticipantFmHistoryPagedListSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:ParticipantFmHistoryPagedListSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchParticipantFmHistoryPagedSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ParticipantFmHistorySearchPagedSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchParticipantFmHistoryPagedSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:ParticipantFmHistorySearchPagedSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getParticipantNoteSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ParticipantNoteSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getParticipantNoteSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:ParticipantNoteSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getParticipantNotePagedListSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ParticipantNotePagedListSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getParticipantNotePagedListSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:ParticipantNotePagedListSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchParticipantNotePagedSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ParticipantNoteSearchPagedSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchParticipantNotePagedSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:ParticipantNoteSearchPagedSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getParticipantTransactionPagedListSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ParticipantTransactionPagedListSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getParticipantTransactionPagedListSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:ParticipantTransactionPagedListSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchParticipantTransactionPagedSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ParticipantTransactionSearchPagedSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchParticipantTransactionPagedSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:ParticipantTransactionSearchPagedSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:attribute name="BranchId" type="xsd:short"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getParticipantSelectFieldsRequest">
    <wsdl:part element="tns:getParticipantSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchParticipantTransactionPagedSelectFieldsRequest">
    <wsdl:part element="tns:searchParticipantTransactionPagedSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getParticipantFmHistoryPagedListSelectFieldsResponse">
    <wsdl:part element="tns:getParticipantFmHistoryPagedListSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getParticipantNoteSelectFieldsRequest">
    <wsdl:part element="tns:getParticipantNoteSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getParticipantNoteSelectFieldsResponse">
    <wsdl:part element="tns:getParticipantNoteSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getParticipantNotePagedListSelectFieldsResponse">
    <wsdl:part element="tns:getParticipantNotePagedListSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchParticipantTransactionPagedSelectFieldsResponse">
    <wsdl:part element="tns:searchParticipantTransactionPagedSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getParticipantSelectFieldsFilterChildrenResponse">
    <wsdl:part element="tns:getParticipantSelectFieldsFilterChildrenResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getParticipantNotePagedListSelectFieldsRequest">
    <wsdl:part element="tns:getParticipantNotePagedListSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchParticipantFmHistoryPagedSelectFieldsRequest">
    <wsdl:part element="tns:searchParticipantFmHistoryPagedSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchParticipantFmHistoryPagedSelectFieldsResponse">
    <wsdl:part element="tns:searchParticipantFmHistoryPagedSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchParticipantNotePagedSelectFieldsResponse">
    <wsdl:part element="tns:searchParticipantNotePagedSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getParticipantSelectFieldsFilterChildrenRequest">
    <wsdl:part element="tns:getParticipantSelectFieldsFilterChildren" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getParticipantTransactionPagedListSelectFieldsRequest">
    <wsdl:part element="tns:getParticipantTransactionPagedListSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getParticipantTransactionPagedListSelectFieldsResponse">
    <wsdl:part element="tns:getParticipantTransactionPagedListSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getParticipantFmHistoryPagedListSelectFieldsRequest">
    <wsdl:part element="tns:getParticipantFmHistoryPagedListSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchParticipantNotePagedSelectFieldsRequest">
    <wsdl:part element="tns:searchParticipantNotePagedSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getParticipantSelectFieldsResponse">
    <wsdl:part element="tns:getParticipantSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ParticipantService">
    <wsdl:operation name="getParticipantSelectFields">
      <wsdl:input message="tns:getParticipantSelectFieldsRequest"/>
      <wsdl:output message="tns:getParticipantSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getParticipantSelectFieldsFilterChildren">
      <wsdl:input message="tns:getParticipantSelectFieldsFilterChildrenRequest"/>
      <wsdl:output message="tns:getParticipantSelectFieldsFilterChildrenResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getParticipantFmHistoryPagedListSelectFields">
      <wsdl:input message="tns:getParticipantFmHistoryPagedListSelectFieldsRequest"/>
      <wsdl:output message="tns:getParticipantFmHistoryPagedListSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="searchParticipantFmHistoryPagedSelectFields">
      <wsdl:input message="tns:searchParticipantFmHistoryPagedSelectFieldsRequest"/>
      <wsdl:output message="tns:searchParticipantFmHistoryPagedSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getParticipantNoteSelectFields">
      <wsdl:input message="tns:getParticipantNoteSelectFieldsRequest"/>
      <wsdl:output message="tns:getParticipantNoteSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getParticipantNotePagedListSelectFields">
      <wsdl:input message="tns:getParticipantNotePagedListSelectFieldsRequest"/>
      <wsdl:output message="tns:getParticipantNotePagedListSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="searchParticipantNotePagedSelectFields">
      <wsdl:input message="tns:searchParticipantNotePagedSelectFieldsRequest"/>
      <wsdl:output message="tns:searchParticipantNotePagedSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getParticipantTransactionPagedListSelectFields">
      <wsdl:input message="tns:getParticipantTransactionPagedListSelectFieldsRequest"/>
      <wsdl:output message="tns:getParticipantTransactionPagedListSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="searchParticipantTransactionPagedSelectFields">
      <wsdl:input message="tns:searchParticipantTransactionPagedSelectFieldsRequest"/>
      <wsdl:output message="tns:searchParticipantTransactionPagedSelectFieldsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ParticipantServiceSOAPBinding" type="tns:ParticipantService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getParticipantSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/participant/getParticipantSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParticipantSelectFieldsFilterChildren">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/participant/getParticipantSelectFieldsFilterChildren"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParticipantFmHistoryPagedListSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/participant/getParticipantFmHistoryPagedListSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchParticipantFmHistoryPagedSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/participant/searchParticipantFmHistoryPagedSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParticipantNoteSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/participant/getParticipantNoteSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParticipantNotePagedListSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/participant/getParticipantNotePagedListSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchParticipantNotePagedSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/participant/searchParticipantNotePagedSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParticipantTransactionPagedListSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/participant/getParticipantTransactionPagedListSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchParticipantTransactionPagedSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/participant/searchParticipantTransactionPagedSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParticipantService">
    <wsdl:port binding="tns:ParticipantServiceSOAPBinding" name="ParticipantServicePort">
      <soap:address location="https://symx-colorado.mdtsaas.com:6101/SymXchange/participant"/>
    </wsdl:port>
  </wsdl:service>
  <xsd:documentation>Version 3.0</xsd:documentation>
</wsdl:definitions>