cdn/wwwroot/wsdl/crud/checkverification/checkverification_1_xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://www.symxchange.generated.symitar.com/noncrud/checkverification" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:chkverdto="http://www.symxchange.generated.symitar.com/noncrud/checkverification/dto" xmlns:cmn="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.symxchange.generated.symitar.com/noncrud/checkverification" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://www.symxchange.generated.symitar.com/noncrud/checkverification/dto" schemaLocation="checkverification.xsd" /><xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="checkverification_1.xsd" /><xsd:element name="verifyCheck"><xsd:complexType><xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" name="Request" type="chkverdto:CheckVerificationRequest" /></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="verifyCheckResponse"><xsd:complexType><xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" name="Response" type="chkverdto:CheckVerificationResponse" /></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
