cdn/wwwroot/wsdl/crud/findby/findby.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FindByService" targetNamespace="http://www.symxchange.generated.symitar.com/noncrud/findby" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:cmn="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:findbydto="http://www.symxchange.generated.symitar.com/noncrud/findby/dto" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.symxchange.generated.symitar.com/noncrud/findby" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>Copyright 2014-2022 Jack Henry Software</wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/noncrud/findby">
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="findby.xsd"/>
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/noncrud/findby/dto" schemaLocation="findby_1.xsd"/>
      <xsd:element name="findByActiveCard">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="findbydto:LookupByActiveCardRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findByActiveCardResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="findbydto:LookupByActiveCardResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findByAnyCard">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="findbydto:LookupByAnyCardRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findByAnyCardResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PluralResponse" type="findbydto:LookupByAnyCardResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findByHomeUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="findbydto:LookupByHomeUserRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findByHomeUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="findbydto:LookupByHomeUserResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findByMICR">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="findbydto:LookupByMICRRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findByMICRResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="findbydto:LookupByMICRResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findByLookup">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="findbydto:LookupByLookupRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findByLookupResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="findbydto:LookupByLookupResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findBySSN">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="findbydto:LookupBySSNRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findBySSNResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PluralResponse" type="findbydto:LookupBySSNResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findByShortName">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Request" type="findbydto:LookupByShortNameRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findByShortNameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PluralResponse" type="findbydto:LookupByShortNameResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="findByAnyCardRequest">
    <wsdl:part element="tns:findByAnyCard" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findByActiveCardResponse">
    <wsdl:part element="tns:findByActiveCardResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findBySSNResponse">
    <wsdl:part element="tns:findBySSNResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findByShortNameResponse">
    <wsdl:part element="tns:findByShortNameResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findByHomeUserResponse">
    <wsdl:part element="tns:findByHomeUserResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findBySSNRequest">
    <wsdl:part element="tns:findBySSN" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findByAnyCardResponse">
    <wsdl:part element="tns:findByAnyCardResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findByActiveCardRequest">
    <wsdl:part element="tns:findByActiveCard" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findByLookupRequest">
    <wsdl:part element="tns:findByLookup" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findByMICRResponse">
    <wsdl:part element="tns:findByMICRResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findByMICRRequest">
    <wsdl:part element="tns:findByMICR" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findByLookupResponse">
    <wsdl:part element="tns:findByLookupResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findByHomeUserRequest">
    <wsdl:part element="tns:findByHomeUser" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findByShortNameRequest">
    <wsdl:part element="tns:findByShortName" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="FindByService">
    <wsdl:operation name="findByActiveCard">
      <wsdl:input message="tns:findByActiveCardRequest"/>
      <wsdl:output message="tns:findByActiveCardResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findByAnyCard">
      <wsdl:input message="tns:findByAnyCardRequest"/>
      <wsdl:output message="tns:findByAnyCardResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findByHomeUser">
      <wsdl:input message="tns:findByHomeUserRequest"/>
      <wsdl:output message="tns:findByHomeUserResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findByMICR">
      <wsdl:input message="tns:findByMICRRequest"/>
      <wsdl:output message="tns:findByMICRResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findByLookup">
      <wsdl:input message="tns:findByLookupRequest"/>
      <wsdl:output message="tns:findByLookupResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findBySSN">
      <wsdl:input message="tns:findBySSNRequest"/>
      <wsdl:output message="tns:findBySSNResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findByShortName">
      <wsdl:input message="tns:findByShortNameRequest"/>
      <wsdl:output message="tns:findByShortNameResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FindByServiceSOAPBinding" type="tns:FindByService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findByActiveCard">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/findby/findByActiveCard"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByAnyCard">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/findby/findByAnyCard"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByHomeUser">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/findby/findByHomeUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByMICR">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/findby/findByMICR"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByLookup">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/findby/findByLookup"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findBySSN">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/findby/findBySSN"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByShortName">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/findby/findByShortName"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FindByService">
    <wsdl:port binding="tns:FindByServiceSOAPBinding" name="FindByServicePort">
      <soap:address location="https://symitar367:24604/SymXchange/findby"/>
    </wsdl:port>
  </wsdl:service>
  <xsd:documentation>Version 1.3</xsd:documentation>
</wsdl:definitions>