api/wwwroot/wsdl/crud/filemanagement/filemanagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FileManagementService" targetNamespace="http://www.symxchange.generated.symitar.com/noncrud/filemanagement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:cmn="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:filemanagementdto="http://www.symxchange.generated.symitar.com/noncrud/filemanagement/dto" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.symxchange.generated.symitar.com/noncrud/filemanagement" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>Copyright 2014-2022 Jack Henry Software</wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/noncrud/filemanagement">
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="filemanagement.xsd"/>
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/noncrud/filemanagement/dto" schemaLocation="filemanagement_1.xsd"/>
      <xsd:element name="downloadLetterFile">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="filemanagementdto:DownloadRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="downloadLetterFileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="filemanagementdto:DownloadResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="uploadLetterFile">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="filemanagementdto:UploadRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="uploadLetterFileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="filemanagementdto:UploadResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteLetterFile">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="filemanagementdto:DeleteRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteLetterFileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="filemanagementdto:DeleteResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="uploadDataFile">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="filemanagementdto:UploadRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="uploadDataFileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="filemanagementdto:UploadResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="downloadDataFile">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="filemanagementdto:DownloadRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="downloadDataFileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="filemanagementdto:DownloadResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteDataFile">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="filemanagementdto:DeleteRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteDataFileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Response" type="filemanagementdto:DeleteResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="downloadLetterFileRequest">
    <wsdl:part element="tns:downloadLetterFile" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteLetterFileResponse">
    <wsdl:part element="tns:deleteLetterFileResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadLetterFileResponse">
    <wsdl:part element="tns:uploadLetterFileResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="downloadDataFileResponse">
    <wsdl:part element="tns:downloadDataFileResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="downloadLetterFileResponse">
    <wsdl:part element="tns:downloadLetterFileResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteDataFileResponse">
    <wsdl:part element="tns:deleteDataFileResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadLetterFileRequest">
    <wsdl:part element="tns:uploadLetterFile" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadDataFileResponse">
    <wsdl:part element="tns:uploadDataFileResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="downloadDataFileRequest">
    <wsdl:part element="tns:downloadDataFile" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="uploadDataFileRequest">
    <wsdl:part element="tns:uploadDataFile" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteDataFileRequest">
    <wsdl:part element="tns:deleteDataFile" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteLetterFileRequest">
    <wsdl:part element="tns:deleteLetterFile" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="FileManagementService">
    <wsdl:operation name="downloadLetterFile">
      <wsdl:input message="tns:downloadLetterFileRequest"/>
      <wsdl:output message="tns:downloadLetterFileResponse"/>
    </wsdl:operation>
    <wsdl:operation name="uploadLetterFile">
      <wsdl:input message="tns:uploadLetterFileRequest"/>
      <wsdl:output message="tns:uploadLetterFileResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteLetterFile">
      <wsdl:input message="tns:deleteLetterFileRequest"/>
      <wsdl:output message="tns:deleteLetterFileResponse"/>
    </wsdl:operation>
    <wsdl:operation name="uploadDataFile">
      <wsdl:input message="tns:uploadDataFileRequest"/>
      <wsdl:output message="tns:uploadDataFileResponse"/>
    </wsdl:operation>
    <wsdl:operation name="downloadDataFile">
      <wsdl:input message="tns:downloadDataFileRequest"/>
      <wsdl:output message="tns:downloadDataFileResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteDataFile">
      <wsdl:input message="tns:deleteDataFileRequest"/>
      <wsdl:output message="tns:deleteDataFileResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileManagementServiceBinding" type="tns:FileManagementService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="downloadLetterFile">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/filemanagement/downloadLetterFile"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadLetterFile">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/filemanagement/uploadLetterFile"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLetterFile">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/filemanagement/deleteLetterFile"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadDataFile">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/filemanagement/uploadDataFile"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadDataFile">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/filemanagement/downloadDataFile"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDataFile">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/noncrud/filemanagement/deleteDataFile"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileManagementService">
    <wsdl:port binding="tns:FileManagementServiceBinding" name="FileManagementServicePort">
      <soap:address location="https://symitar367:24604/SymXchange/filemanagement"/>
    </wsdl:port>
  </wsdl:service>
  <xsd:documentation>Version 1.0</xsd:documentation>
</wsdl:definitions>