api/wwwroot/wsdl/crud/user/user.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UserService" targetNamespace="http://www.symxchange.generated.symitar.com/crud/user" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:retrieve="http://www.symxchange.generated.symitar.com/crud/user/dto/retrieve" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:symxcommon="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:tns="http://www.symxchange.generated.symitar.com/crud/user" xmlns:update="http://www.symxchange.generated.symitar.com/crud/user/dto/update" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>Copyright 2014-2024 Jack Henry Software</wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/crud/user">
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="user.xsd"/>
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/crud/user/dto/retrieve" schemaLocation="user_1.xsd"/>
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/crud/user/dto/update" schemaLocation="user_2.xsd"/>
      <xsd:complexType name="UserSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:UserSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="UserSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="User" type="retrieve:User"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="UserSelectFieldsFilterChildrenRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:UserSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ChildrenSearchFilter" type="retrieve:UserChildrenFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="UserSelectFieldsFilterChildrenResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="User" type="retrieve:User"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ActivityPagedListSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ActivitySingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ActivityPagedListSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Activity" type="retrieve:Activity"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ActivitySearchPagedSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:ActivitySingleSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SearchFilter" type="retrieve:ActivitySearchFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="ActivitySearchPagedSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Activity" type="retrieve:Activity"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="UserTrackingSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserTrackingLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:UserTrackingSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="UserTrackingSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserTracking" type="retrieve:UserTracking"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="UserTrackingPagedListSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:UserTrackingSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="UserTrackingPagedListSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="UserTracking" type="retrieve:UserTracking"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="UserTrackingSearchPagedSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:UserTrackingSingleSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SearchFilter" type="retrieve:UserTrackingSearchFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="UserTrackingSearchPagedSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="UserTracking" type="retrieve:UserTracking"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="UpdateUserByIDRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserFields" type="update:UserFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="UserUpdateByIDResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UpdateStatus" type="symxcommon:UpdateStatus"/>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="UpdateUserTrackingByIDRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserTrackingLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserTrackingFields" type="update:UserTrackingFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="UserTrackingUpdateByIDResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UpdateStatus" type="symxcommon:UpdateStatus"/>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CreateUserTrackingRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserTrackingFields" type="update:UserTrackingFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="UserTrackingCreateResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserTrackingLocator" type="xsd:int"/>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="DeleteUserTrackingRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserTrackingLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="UserTrackingDeleteResponse">
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:element name="getUserSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:UserSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUserSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:UserSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUserSelectFieldsFilterChildren">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:UserSelectFieldsFilterChildrenRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUserSelectFieldsFilterChildrenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:UserSelectFieldsFilterChildrenResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivityPagedListSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ActivityPagedListSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivityPagedListSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:ActivityPagedListSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchActivityPagedSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:ActivitySearchPagedSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchActivityPagedSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:ActivitySearchPagedSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUserTrackingSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:UserTrackingSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUserTrackingSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:UserTrackingSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUserTrackingPagedListSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:UserTrackingPagedListSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUserTrackingPagedListSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:UserTrackingPagedListSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchUserTrackingPagedSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:UserTrackingSearchPagedSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchUserTrackingPagedSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:UserTrackingSearchPagedSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateUserByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:UpdateUserByIDRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateUserByIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpdateResponse" type="tns:UserUpdateByIDResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateUserTrackingByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:UpdateUserTrackingByIDRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateUserTrackingByIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpdateResponse" type="tns:UserTrackingUpdateByIDResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createUserTracking">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CreateUserTrackingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createUserTrackingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreateResponse" type="tns:UserTrackingCreateResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteUserTracking">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:DeleteUserTrackingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteUserTrackingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeleteResponse" type="tns:UserTrackingDeleteResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:attribute name="BranchId" type="xsd:short"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getUserSelectFieldsRequest">
    <wsdl:part element="tns:getUserSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateUserTrackingByIDResponse">
    <wsdl:part element="tns:updateUserTrackingByIDResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateUserByIDRequest">
    <wsdl:part element="tns:updateUserByID" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUserTrackingSelectFieldsResponse">
    <wsdl:part element="tns:getUserTrackingSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchUserTrackingPagedSelectFieldsResponse">
    <wsdl:part element="tns:searchUserTrackingPagedSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUserSelectFieldsResponse">
    <wsdl:part element="tns:getUserSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getActivityPagedListSelectFieldsRequest">
    <wsdl:part element="tns:getActivityPagedListSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteUserTrackingRequest">
    <wsdl:part element="tns:deleteUserTracking" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createUserTrackingRequest">
    <wsdl:part element="tns:createUserTracking" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createUserTrackingResponse">
    <wsdl:part element="tns:createUserTrackingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchActivityPagedSelectFieldsRequest">
    <wsdl:part element="tns:searchActivityPagedSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUserSelectFieldsFilterChildrenResponse">
    <wsdl:part element="tns:getUserSelectFieldsFilterChildrenResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUserTrackingPagedListSelectFieldsResponse">
    <wsdl:part element="tns:getUserTrackingPagedListSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateUserTrackingByIDRequest">
    <wsdl:part element="tns:updateUserTrackingByID" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchActivityPagedSelectFieldsResponse">
    <wsdl:part element="tns:searchActivityPagedSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateUserByIDResponse">
    <wsdl:part element="tns:updateUserByIDResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteUserTrackingResponse">
    <wsdl:part element="tns:deleteUserTrackingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchUserTrackingPagedSelectFieldsRequest">
    <wsdl:part element="tns:searchUserTrackingPagedSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUserSelectFieldsFilterChildrenRequest">
    <wsdl:part element="tns:getUserSelectFieldsFilterChildren" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getActivityPagedListSelectFieldsResponse">
    <wsdl:part element="tns:getActivityPagedListSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUserTrackingSelectFieldsRequest">
    <wsdl:part element="tns:getUserTrackingSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUserTrackingPagedListSelectFieldsRequest">
    <wsdl:part element="tns:getUserTrackingPagedListSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="UserService">
    <wsdl:operation name="getUserSelectFields">
      <wsdl:input message="tns:getUserSelectFieldsRequest"/>
      <wsdl:output message="tns:getUserSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUserSelectFieldsFilterChildren">
      <wsdl:input message="tns:getUserSelectFieldsFilterChildrenRequest"/>
      <wsdl:output message="tns:getUserSelectFieldsFilterChildrenResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getActivityPagedListSelectFields">
      <wsdl:input message="tns:getActivityPagedListSelectFieldsRequest"/>
      <wsdl:output message="tns:getActivityPagedListSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="searchActivityPagedSelectFields">
      <wsdl:input message="tns:searchActivityPagedSelectFieldsRequest"/>
      <wsdl:output message="tns:searchActivityPagedSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUserTrackingSelectFields">
      <wsdl:input message="tns:getUserTrackingSelectFieldsRequest"/>
      <wsdl:output message="tns:getUserTrackingSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUserTrackingPagedListSelectFields">
      <wsdl:input message="tns:getUserTrackingPagedListSelectFieldsRequest"/>
      <wsdl:output message="tns:getUserTrackingPagedListSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="searchUserTrackingPagedSelectFields">
      <wsdl:input message="tns:searchUserTrackingPagedSelectFieldsRequest"/>
      <wsdl:output message="tns:searchUserTrackingPagedSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateUserByID">
      <wsdl:input message="tns:updateUserByIDRequest"/>
      <wsdl:output message="tns:updateUserByIDResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateUserTrackingByID">
      <wsdl:input message="tns:updateUserTrackingByIDRequest"/>
      <wsdl:output message="tns:updateUserTrackingByIDResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createUserTracking">
      <wsdl:input message="tns:createUserTrackingRequest"/>
      <wsdl:output message="tns:createUserTrackingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteUserTracking">
      <wsdl:input message="tns:deleteUserTrackingRequest"/>
      <wsdl:output message="tns:deleteUserTrackingResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceSOAPBinding" type="tns:UserService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUserSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/user/getUserSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserSelectFieldsFilterChildren">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/user/getUserSelectFieldsFilterChildren"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActivityPagedListSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/user/getActivityPagedListSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchActivityPagedSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/user/searchActivityPagedSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserTrackingSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/user/getUserTrackingSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserTrackingPagedListSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/user/getUserTrackingPagedListSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchUserTrackingPagedSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/user/searchUserTrackingPagedSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserByID">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/user/updateUserByID"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserTrackingByID">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/user/updateUserTrackingByID"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUserTracking">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/user/createUserTracking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserTracking">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/user/deleteUserTracking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port binding="tns:UserServiceSOAPBinding" name="UserServicePort">
      <soap:address location="https://symitar367:24604/SymXchange/user"/>
    </wsdl:port>
  </wsdl:service>
  <xsd:documentation>Version 3.0</xsd:documentation>
</wsdl:definitions>