cdn/wwwroot/wsdl/crud/corptransfer/corptransfer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CorpTransferService" targetNamespace="http://www.symxchange.generated.symitar.com/crud/corptransfer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:retrieve="http://www.symxchange.generated.symitar.com/crud/corptransfer/dto/retrieve" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:symxcommon="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:tns="http://www.symxchange.generated.symitar.com/crud/corptransfer" xmlns:update="http://www.symxchange.generated.symitar.com/crud/corptransfer/dto/update" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>Copyright 2014-2025 Jack Henry Software</wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/crud/corptransfer">
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="corptransfer.xsd"/>
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/crud/corptransfer/dto/retrieve" schemaLocation="corptransfer_1.xsd"/>
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/crud/corptransfer/dto/update" schemaLocation="corptransfer_2.xsd"/>
      <xsd:complexType name="CorpTransferSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CorpTransferGlobalSequenceDate" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CorpTransferGlobalSequence" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CorpTransferSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CorpTransferSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CorpTransfer" type="retrieve:CorpTransfer"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:element name="getCorpTransferSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CorpTransferSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCorpTransferSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:CorpTransferSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:attribute name="BranchId" type="xsd:short"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCorpTransferSelectFieldsResponse">
    <wsdl:part element="tns:getCorpTransferSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCorpTransferSelectFieldsRequest">
    <wsdl:part element="tns:getCorpTransferSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CorpTransferService">
    <wsdl:operation name="getCorpTransferSelectFields">
      <wsdl:input message="tns:getCorpTransferSelectFieldsRequest"/>
      <wsdl:output message="tns:getCorpTransferSelectFieldsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CorpTransferServiceSOAPBinding" type="tns:CorpTransferService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCorpTransferSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/corptransfer/getCorpTransferSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CorpTransferService">
    <wsdl:port binding="tns:CorpTransferServiceSOAPBinding" name="CorpTransferServicePort">
      <soap:address location="https://symx-colorado.mdtsaas.com:6101/SymXchange/corptransfer"/>
    </wsdl:port>
  </wsdl:service>
  <xsd:documentation>Version 3.0</xsd:documentation>
</wsdl:definitions>