api/wwwroot/wsdl/crud/check/check_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/crud/check/dto/retrieve" version="3.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:retrieve="http://www.symxchange.generated.symitar.com/crud/check/dto/retrieve" xmlns:symxcommon="http://www.symxchange.generated.symitar.com/symxcommon">
  <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="check.xsd"/>
  <xsd:annotation>
    <xsd:documentation>Copyright 2014-2025 Jack Henry Software</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="Check">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Amount" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Branch" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CheckFmHistoryList" type="retrieve:CheckFmHistoryList"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CheckNumberAssigned" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EscheatDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmLastPurgeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlobalSequence" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlobalSequenceDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IssueDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Number" type="xsd:string"/>
      <xsd:element maxOccurs="5" minOccurs="0" name="Payee">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Payee" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReconciliationDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Reference" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Reference2" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Reference3" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Source" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SourceGlCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="StopPmtDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TracerNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="VoidDate" type="xsd:date"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CheckFmHistoryList">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="hasReachedMaximumListSize" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CheckFmHistory" type="retrieve:CheckFmHistory"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CheckChildrenFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="CheckFmHistoryFilter" type="retrieve:CheckFmHistoryFilter"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CheckSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllCheckFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CheckFields" type="retrieve:CheckFields"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CheckFmHistorySelectableFields" type="retrieve:CheckFmHistorySelectableFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CheckFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Amount" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Branch" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CheckNumberAssigned" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EscheatDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmLastPurgeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlobalSequence" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlobalSequenceDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IssueDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Number" type="xsd:boolean"/>
      <xsd:element maxOccurs="5" minOccurs="0" name="Payee" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReconciliationDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Reference" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Reference2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Reference3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Source" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SourceGlCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="StopPmtDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TracerNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="VoidDate" type="xsd:boolean"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CheckSingleSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllCheckFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CheckFields" type="retrieve:CheckFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CheckFmHistory">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BatchSequence" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Branch" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConfirmationNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConfirmationSeq" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConsoleNumber" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DataType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewCharacter" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewMoney" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewRate" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldCharacter" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldMoney" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldRate" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ProcessorUser" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordType" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SecurityLevels" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubFieldNumber" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserOverride" type="xsd:short"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CheckFmHistorySearchFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="StartPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EndPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CheckFmHistoryFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="StartPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EndPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CheckFmHistorySelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllCheckFmHistoryFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CheckFmHistoryFields" type="retrieve:CheckFmHistoryFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CheckFmHistoryFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BatchSequence" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Branch" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConfirmationNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConfirmationSeq" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConsoleNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DataType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewCharacter" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewMoney" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewRate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldCharacter" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldMoney" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldRate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostTime" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ProcessorUser" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SecurityLevels" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubFieldNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserOverride" type="xsd:boolean"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CheckFmHistorySingleSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllCheckFmHistoryFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CheckFmHistoryFields" type="retrieve:CheckFmHistoryFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>