api/wwwroot/wsdl/crud/generalledger/generalledger_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/crud/generalledger/dto/retrieve" version="3.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:retrieve="http://www.symxchange.generated.symitar.com/crud/generalledger/dto/retrieve" xmlns:symxcommon="http://www.symxchange.generated.symitar.com/symxcommon">
  <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="generalledger.xsd"/>
  <xsd:annotation>
    <xsd:documentation>Copyright 2014-2025 Jack Henry Software</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="GlAccount">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="BalNextGlMonth" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Balance" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BalanceLastYear" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BalanceNextPeriod" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BalanceSheetColumn" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BalanceYtd" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BlankLineCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Branch" type="xsd:string"/>
      <xsd:element maxOccurs="12" minOccurs="0" name="Budget">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Budget" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="CommentCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DcRestrictionLevel" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DistributionCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmLastPurgeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmLevel" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FormatType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAccountFmHistoryList" type="retrieve:GlAccountFmHistoryList"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAccountTrackingList" type="retrieve:GlAccountTrackingList"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlHistoryList" type="retrieve:GlHistoryList"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlSubaccountList" type="retrieve:GlSubaccountList"/>
      <xsd:element maxOccurs="12" minOccurs="0" name="HistoricalBalance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntryId" type="xsd:short"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="HistoricalBalance" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="IndentationCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IqLevel" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastPurgeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastTranDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Lookup" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Number" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OpenCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PrintingCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RestrictionLevel" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Suffix" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TotalGlBudget" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TotalLevel" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UnderscoreCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UsageType" type="xsd:short"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountFmHistoryList">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="hasReachedMaximumListSize" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="GlAccountFmHistory" type="retrieve:GlAccountFmHistory"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountTrackingList">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="hasReachedMaximumListSize" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="GlAccountTracking" type="retrieve:GlAccountTracking"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlHistoryList">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="hasReachedMaximumListSize" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="GlHistory" type="retrieve:GlHistory"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlSubaccountList">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="hasReachedMaximumListSize" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="GlSubaccount" type="retrieve:GlSubaccount"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountChildrenFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAccountFmHistoryFilter" type="retrieve:GlAccountFmHistoryFilter"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAccountTrackingFilter" type="retrieve:GlAccountTrackingFilter"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlHistoryFilter" type="retrieve:GlHistoryFilter"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlSubaccountFilter" type="retrieve:GlSubaccountFilter"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllGlAccountFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAccountFields" type="retrieve:GlAccountFields"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAccountFmHistorySelectableFields" type="retrieve:GlAccountFmHistorySelectableFields"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAccountTrackingSelectableFields" type="retrieve:GlAccountTrackingSelectableFields"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlHistorySelectableFields" type="retrieve:GlHistorySelectableFields"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlSubaccountSelectableFields" type="retrieve:GlSubaccountSelectableFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="BalNextGlMonth" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Balance" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BalanceLastYear" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BalanceNextPeriod" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BalanceSheetColumn" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BalanceYtd" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BlankLineCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Branch" type="xsd:boolean"/>
      <xsd:element maxOccurs="12" minOccurs="0" name="Budget" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CommentCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DcRestrictionLevel" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DistributionCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmLastPurgeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmLevel" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FormatType" type="xsd:boolean"/>
      <xsd:element maxOccurs="12" minOccurs="0" name="HistoricalBalance" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IndentationCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IqLevel" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastPurgeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastTranDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Lookup" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Number" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OpenCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PrintingCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RestrictionLevel" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Suffix" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TotalGlBudget" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TotalLevel" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UnderscoreCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UsageType" type="xsd:boolean"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountSingleSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllGlAccountFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAccountFields" type="retrieve:GlAccountFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountFmHistory">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BatchSequence" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Branch" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConfirmationSeq" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConsoleNumber" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DataType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewCharacter" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewMoney" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewRate" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldCharacter" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldMoney" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldRate" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ProcessorUser" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordType" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SecurityLevels" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubFieldNumber" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserOverride" type="xsd:short"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountFmHistorySearchFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="StartPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EndPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountFmHistoryFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="StartPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EndPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountFmHistorySelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllGlAccountFmHistoryFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAccountFmHistoryFields" type="retrieve:GlAccountFmHistoryFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountFmHistoryFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="BatchSequence" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Branch" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConfirmationSeq" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConsoleNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DataType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FieldNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewCharacter" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewMoney" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="NewRate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldCharacter" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldMoney" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OldRate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostTime" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ProcessorUser" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordName" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SecurityLevels" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SubFieldNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserOverride" type="xsd:boolean"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountFmHistorySingleSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllGlAccountFmHistoryFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAccountFmHistoryFields" type="retrieve:GlAccountFmHistoryFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountTracking">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreationDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreationTime" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExpireDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmLastDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TrackingCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount1" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount10" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount11" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount12" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount13" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount14" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount15" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount16" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount17" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount18" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount19" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount2" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount20" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount3" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount4" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount5" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount6" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount7" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount8" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount9" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar1" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar10" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar11" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar12" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar13" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar14" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar15" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar16" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar17" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar18" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar19" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar2" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar20" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar3" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar4" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar5" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar6" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar7" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar8" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar9" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode1" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode10" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode11" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode12" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode13" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode14" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode15" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode16" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode17" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode18" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode19" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode2" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode20" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode3" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode4" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode5" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode6" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode7" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode8" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode9" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate1" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate10" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate11" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate12" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate13" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate14" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate15" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate16" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate17" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate18" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate19" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate2" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate20" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate3" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate4" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate5" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate6" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate7" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate8" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate9" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserId" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber1" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber10" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber11" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber12" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber13" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber14" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber15" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber16" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber17" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber18" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber19" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber2" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber20" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber3" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber4" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber5" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber6" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber7" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber8" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber9" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate1" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate10" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate11" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate12" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate13" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate14" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate15" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate16" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate17" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate18" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate19" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate2" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate20" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate3" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate4" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate5" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate6" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate7" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate8" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate9" type="xsd:decimal"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountTrackingSearchFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountTrackingFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountTrackingSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllGlAccountTrackingFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAccountTrackingFields" type="retrieve:GlAccountTrackingFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountTrackingFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreationDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CreationTime" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ExpireDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FmLastDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Locator" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TrackingCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount10" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount11" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount12" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount13" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount14" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount15" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount16" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount17" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount18" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount19" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount20" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount4" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount5" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount6" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount7" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount8" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserAmount9" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar10" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar11" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar12" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar13" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar14" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar15" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar16" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar17" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar18" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar19" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar20" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar4" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar5" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar6" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar7" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar8" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserChar9" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode10" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode11" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode12" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode13" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode14" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode15" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode16" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode17" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode18" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode19" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode20" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode4" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode5" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode6" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode7" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode8" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserCode9" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate10" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate11" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate12" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate13" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate14" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate15" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate16" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate17" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate18" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate19" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate20" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate4" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate5" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate6" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate7" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate8" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserDate9" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserId" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber10" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber11" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber12" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber13" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber14" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber15" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber16" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber17" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber18" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber19" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber20" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber4" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber5" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber6" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber7" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber8" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber9" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate1" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate10" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate11" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate12" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate13" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate14" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate15" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate16" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate17" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate18" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate19" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate2" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate20" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate3" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate4" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate5" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate6" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate7" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate8" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserRate9" type="xsd:boolean"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlAccountTrackingSingleSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllGlAccountTrackingFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAccountTrackingFields" type="retrieve:GlAccountTrackingFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlHistory">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Amount" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Comment" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DebitCreditCode" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EffectiveDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAccountNumber" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlCategory" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ProcessorUser" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Reference" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:short"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlHistorySearchFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlHistoryFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlHistorySelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllGlHistoryFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlHistoryFields" type="retrieve:GlHistoryFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlHistoryFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Amount" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Comment" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="DebitCreditCode" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EffectiveDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlAccountNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlCategory" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PostDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ProcessorUser" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Reference" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="UserNumber" type="xsd:boolean"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlHistorySingleSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllGlHistoryFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlHistoryFields" type="retrieve:GlHistoryFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlSubaccount">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccrualAmount" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccrualEffectDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccrualPostDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccrualPostThruDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccrualStartDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccruedAmount" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccruedCount" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AcquisitionDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CommentOne" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CommentTwo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CurrentValue" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Disposition" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FirstMonthMethod" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlOffset" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="InsMaturityDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="InsTypeDescription" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="InsuranceType" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LimitValue" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MaturityDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Method" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OriginalValue" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Process" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Rate" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RateBase" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SaleAmount" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SaleDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TaxAmount" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TaxCategory" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TaxDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TaxDescription" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TaxLocation" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TermFrequency" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TermPeriod" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:short"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlSubaccountSearchFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlSubaccountFilter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Query" type="xsd:string"/>
      <xsd:sequence minOccurs="0">
        <xsd:sequence minOccurs="0">
          <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlSubaccountSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllGlSubaccountFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlSubaccountFields" type="retrieve:GlSubaccountFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlSubaccountFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccrualAmount" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccrualEffectDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccrualPostDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccrualPostThruDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccrualStartDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccruedAmount" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccruedCount" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AcquisitionDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CommentOne" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CommentTwo" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="CurrentValue" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Disposition" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FirstMonthMethod" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlOffset" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="InsMaturityDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="InsTypeDescription" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="InsuranceType" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastFmDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LimitValue" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MaturityDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Method" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="OriginalValue" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Process" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Rate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RateBase" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="RecordChangeDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SaleAmount" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="SaleDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TaxAmount" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TaxCategory" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TaxDate" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TaxDescription" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TaxLocation" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TermFrequency" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="TermPeriod" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:boolean"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlSubaccountSingleSelectableFields">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="IncludeAllGlSubaccountFields" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="GlSubaccountFields" type="retrieve:GlSubaccountFields"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
        <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>