cdn/wwwroot/wsdl/crud/collateral/collateral.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CollateralService" targetNamespace="http://www.symxchange.generated.symitar.com/crud/collateral" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:retrieve="http://www.symxchange.generated.symitar.com/crud/collateral/dto/retrieve" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:symxcommon="http://www.symxchange.generated.symitar.com/symxcommon" xmlns:tns="http://www.symxchange.generated.symitar.com/crud/collateral" xmlns:update="http://www.symxchange.generated.symitar.com/crud/collateral/dto/update" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>Copyright 2014-2025 Jack Henry Software</wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.symxchange.generated.symitar.com/crud/collateral">
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/symxcommon" schemaLocation="collateral.xsd"/>
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/crud/collateral/dto/retrieve" schemaLocation="collateral_1.xsd"/>
      <xsd:import namespace="http://www.symxchange.generated.symitar.com/crud/collateral/dto/update" schemaLocation="collateral_2.xsd"/>
      <xsd:complexType name="CollateralSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Collateral" type="retrieve:Collateral"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralSelectFieldsFilterChildrenRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ChildrenSearchFilter" type="retrieve:CollateralChildrenFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralSelectFieldsFilterChildrenResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Collateral" type="retrieve:Collateral"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralCollHoldSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralCollHoldLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralCollHoldSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralCollHoldSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralCollHold" type="retrieve:CollateralCollHold"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralCollHoldPagedListSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralCollHoldSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralCollHoldPagedListSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="CollateralCollHold" type="retrieve:CollateralCollHold"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralCollHoldSearchPagedSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralCollHoldSingleSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SearchFilter" type="retrieve:CollateralCollHoldSearchFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralCollHoldSearchPagedSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="CollateralCollHold" type="retrieve:CollateralCollHold"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralDocumentSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocument" type="retrieve:CollateralDocument"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentSelectFieldsFilterChildrenRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralDocumentSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ChildrenSearchFilter" type="retrieve:CollateralDocumentChildrenFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentSelectFieldsFilterChildrenResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocument" type="retrieve:CollateralDocument"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentPagedListSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralDocumentSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentPagedListSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="CollateralDocument" type="retrieve:CollateralDocument"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentSearchPagedSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralDocumentSingleSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SearchFilter" type="retrieve:CollateralDocumentSearchFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentSearchPagedSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="CollateralDocument" type="retrieve:CollateralDocument"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentTrackingSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentTrackingLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralDocumentTrackingSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentTrackingSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentTracking" type="retrieve:CollateralDocumentTracking"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentTrackingPagedListSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralDocumentTrackingSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentTrackingPagedListSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="CollateralDocumentTracking" type="retrieve:CollateralDocumentTracking"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentTrackingSearchPagedSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralDocumentTrackingSingleSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SearchFilter" type="retrieve:CollateralDocumentTrackingSearchFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentTrackingSearchPagedSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="CollateralDocumentTracking" type="retrieve:CollateralDocumentTracking"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralFmHistoryPagedListSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralFmHistorySingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralFmHistoryPagedListSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="CollateralFmHistory" type="retrieve:CollateralFmHistory"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralFmHistorySearchPagedSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralFmHistorySingleSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SearchFilter" type="retrieve:CollateralFmHistorySearchFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralFmHistorySearchPagedSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="CollateralFmHistory" type="retrieve:CollateralFmHistory"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralTrackingSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralTrackingLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralTrackingSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralTrackingSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralTracking" type="retrieve:CollateralTracking"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralTrackingPagedListSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralTrackingSingleSelectableFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralTrackingPagedListSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="CollateralTracking" type="retrieve:CollateralTracking"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralTrackingSearchPagedSelectFieldsRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PagingRequestContext" type="symxcommon:PagingRequestContext"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SelectableFields" type="retrieve:CollateralTrackingSingleSelectableFields"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SearchFilter" type="retrieve:CollateralTrackingSearchFilter"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralTrackingSearchPagedSelectFieldsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="CollateralTracking" type="retrieve:CollateralTracking"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="xsd:string"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="UpdateCollateralByIDRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralFields" type="update:CollateralFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralUpdateByIDResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UpdateStatus" type="symxcommon:UpdateStatus"/>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="UpdateCollateralCollHoldByIDRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralCollHoldLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralCollHoldFields" type="update:CollateralCollHoldFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralCollHoldUpdateByIDResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UpdateStatus" type="symxcommon:UpdateStatus"/>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="UpdateCollateralDocumentByIDRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentFields" type="update:CollateralDocumentFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentUpdateByIDResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UpdateStatus" type="symxcommon:UpdateStatus"/>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="UpdateCollateralDocumentTrackingByIDRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentTrackingLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentTrackingFields" type="update:CollateralDocumentTrackingFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentTrackingUpdateByIDResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UpdateStatus" type="symxcommon:UpdateStatus"/>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="UpdateCollateralTrackingByIDRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralTrackingLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralTrackingFields" type="update:CollateralTrackingFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralTrackingUpdateByIDResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="UpdateStatus" type="symxcommon:UpdateStatus"/>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CreateCollateralRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralFields" type="update:CollateralFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralCreateResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CreateCollateralCollHoldRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralCollHoldFields" type="update:CollateralCollHoldFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralCollHoldCreateResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralCollHoldLocator" type="xsd:int"/>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CreateCollateralDocumentRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentFields" type="update:CollateralDocumentFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentCreateResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentLocator" type="xsd:int"/>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CreateCollateralDocumentTrackingRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentTrackingFields" type="update:CollateralDocumentTrackingFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentTrackingCreateResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentTrackingLocator" type="xsd:int"/>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="CreateCollateralTrackingRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralTrackingFields" type="update:CollateralTrackingFields"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralTrackingCreateResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralTrackingLocator" type="xsd:int"/>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="DeleteCollateralCollHoldRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralCollHoldLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralCollHoldDeleteResponse">
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="DeleteCollateralDocumentRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentDeleteResponse">
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="DeleteCollateralDocumentTrackingRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralDocumentTrackingLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralDocumentTrackingDeleteResponse">
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="DeleteCollateralTrackingRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CollateralTrackingLocator" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Credentials" type="symxcommon:AdminCredentialsChoice"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeviceInformation" type="symxcommon:DeviceInformation"/>
          <xsd:sequence minOccurs="0">
            <xsd:element name="Version_1" type="symxcommon:Version_Type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="MessageId" type="xsd:string" use="required"/>
        <xsd:attribute ref="tns:BranchId"/>
      </xsd:complexType>
      <xsd:complexType name="CollateralTrackingDeleteResponse">
        <xsd:attribute name="MessageId" type="xsd:string"/>
      </xsd:complexType>
      <xsd:element name="getCollateralSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:CollateralSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralSelectFieldsFilterChildren">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralSelectFieldsFilterChildrenRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralSelectFieldsFilterChildrenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:CollateralSelectFieldsFilterChildrenResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralCollHoldSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralCollHoldSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralCollHoldSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:CollateralCollHoldSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralCollHoldPagedListSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralCollHoldPagedListSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralCollHoldPagedListSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:CollateralCollHoldPagedListSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchCollateralCollHoldPagedSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralCollHoldSearchPagedSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchCollateralCollHoldPagedSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:CollateralCollHoldSearchPagedSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralDocumentSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralDocumentSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralDocumentSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:CollateralDocumentSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralDocumentSelectFieldsFilterChildren">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralDocumentSelectFieldsFilterChildrenRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralDocumentSelectFieldsFilterChildrenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:CollateralDocumentSelectFieldsFilterChildrenResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralDocumentPagedListSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralDocumentPagedListSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralDocumentPagedListSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:CollateralDocumentPagedListSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchCollateralDocumentPagedSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralDocumentSearchPagedSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchCollateralDocumentPagedSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:CollateralDocumentSearchPagedSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralDocumentTrackingSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralDocumentTrackingSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralDocumentTrackingSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:CollateralDocumentTrackingSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralDocumentTrackingPagedListSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralDocumentTrackingPagedListSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralDocumentTrackingPagedListSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:CollateralDocumentTrackingPagedListSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchCollateralDocumentTrackingPagedSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralDocumentTrackingSearchPagedSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchCollateralDocumentTrackingPagedSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:CollateralDocumentTrackingSearchPagedSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralFmHistoryPagedListSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralFmHistoryPagedListSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralFmHistoryPagedListSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:CollateralFmHistoryPagedListSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchCollateralFmHistoryPagedSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralFmHistorySearchPagedSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchCollateralFmHistoryPagedSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:CollateralFmHistorySearchPagedSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralTrackingSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralTrackingSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralTrackingSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SingleResponse" type="tns:CollateralTrackingSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralTrackingPagedListSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralTrackingPagedListSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCollateralTrackingPagedListSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:CollateralTrackingPagedListSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchCollateralTrackingPagedSelectFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CollateralTrackingSearchPagedSelectFieldsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchCollateralTrackingPagedSelectFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="PagedResponse" type="tns:CollateralTrackingSearchPagedSelectFieldsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCollateralByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:UpdateCollateralByIDRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCollateralByIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpdateResponse" type="tns:CollateralUpdateByIDResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCollateralCollHoldByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:UpdateCollateralCollHoldByIDRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCollateralCollHoldByIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpdateResponse" type="tns:CollateralCollHoldUpdateByIDResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCollateralDocumentByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:UpdateCollateralDocumentByIDRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCollateralDocumentByIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpdateResponse" type="tns:CollateralDocumentUpdateByIDResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCollateralDocumentTrackingByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:UpdateCollateralDocumentTrackingByIDRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCollateralDocumentTrackingByIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpdateResponse" type="tns:CollateralDocumentTrackingUpdateByIDResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCollateralTrackingByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:UpdateCollateralTrackingByIDRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCollateralTrackingByIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpdateResponse" type="tns:CollateralTrackingUpdateByIDResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createCollateral">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CreateCollateralRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createCollateralResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreateResponse" type="tns:CollateralCreateResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createCollateralCollHold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CreateCollateralCollHoldRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createCollateralCollHoldResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreateResponse" type="tns:CollateralCollHoldCreateResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createCollateralDocument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CreateCollateralDocumentRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createCollateralDocumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreateResponse" type="tns:CollateralDocumentCreateResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createCollateralDocumentTracking">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CreateCollateralDocumentTrackingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createCollateralDocumentTrackingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreateResponse" type="tns:CollateralDocumentTrackingCreateResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createCollateralTracking">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:CreateCollateralTrackingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createCollateralTrackingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreateResponse" type="tns:CollateralTrackingCreateResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteCollateralCollHold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:DeleteCollateralCollHoldRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteCollateralCollHoldResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeleteResponse" type="tns:CollateralCollHoldDeleteResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteCollateralDocument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:DeleteCollateralDocumentRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteCollateralDocumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeleteResponse" type="tns:CollateralDocumentDeleteResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteCollateralDocumentTracking">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:DeleteCollateralDocumentTrackingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteCollateralDocumentTrackingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeleteResponse" type="tns:CollateralDocumentTrackingDeleteResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteCollateralTracking">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Request" type="tns:DeleteCollateralTrackingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteCollateralTrackingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeleteResponse" type="tns:CollateralTrackingDeleteResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:attribute name="BranchId" type="xsd:short"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCollateralTrackingSelectFieldsRequest">
    <wsdl:part element="tns:getCollateralTrackingSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateCollateralDocumentTrackingByIDResponse">
    <wsdl:part element="tns:updateCollateralDocumentTrackingByIDResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralDocumentTrackingSelectFieldsResponse">
    <wsdl:part element="tns:getCollateralDocumentTrackingSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateCollateralDocumentByIDRequest">
    <wsdl:part element="tns:updateCollateralDocumentByID" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateCollateralDocumentTrackingByIDRequest">
    <wsdl:part element="tns:updateCollateralDocumentTrackingByID" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createCollateralDocumentRequest">
    <wsdl:part element="tns:createCollateralDocument" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralDocumentSelectFieldsRequest">
    <wsdl:part element="tns:getCollateralDocumentSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralCollHoldSelectFieldsRequest">
    <wsdl:part element="tns:getCollateralCollHoldSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchCollateralTrackingPagedSelectFieldsResponse">
    <wsdl:part element="tns:searchCollateralTrackingPagedSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createCollateralDocumentTrackingRequest">
    <wsdl:part element="tns:createCollateralDocumentTracking" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteCollateralDocumentTrackingRequest">
    <wsdl:part element="tns:deleteCollateralDocumentTracking" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralFmHistoryPagedListSelectFieldsRequest">
    <wsdl:part element="tns:getCollateralFmHistoryPagedListSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralTrackingPagedListSelectFieldsResponse">
    <wsdl:part element="tns:getCollateralTrackingPagedListSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchCollateralCollHoldPagedSelectFieldsResponse">
    <wsdl:part element="tns:searchCollateralCollHoldPagedSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralDocumentPagedListSelectFieldsResponse">
    <wsdl:part element="tns:getCollateralDocumentPagedListSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createCollateralTrackingRequest">
    <wsdl:part element="tns:createCollateralTracking" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchCollateralDocumentPagedSelectFieldsResponse">
    <wsdl:part element="tns:searchCollateralDocumentPagedSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralSelectFieldsRequest">
    <wsdl:part element="tns:getCollateralSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createCollateralTrackingResponse">
    <wsdl:part element="tns:createCollateralTrackingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralDocumentTrackingPagedListSelectFieldsResponse">
    <wsdl:part element="tns:getCollateralDocumentTrackingPagedListSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchCollateralTrackingPagedSelectFieldsRequest">
    <wsdl:part element="tns:searchCollateralTrackingPagedSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralTrackingPagedListSelectFieldsRequest">
    <wsdl:part element="tns:getCollateralTrackingPagedListSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateCollateralTrackingByIDRequest">
    <wsdl:part element="tns:updateCollateralTrackingByID" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralFmHistoryPagedListSelectFieldsResponse">
    <wsdl:part element="tns:getCollateralFmHistoryPagedListSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createCollateralDocumentTrackingResponse">
    <wsdl:part element="tns:createCollateralDocumentTrackingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteCollateralDocumentTrackingResponse">
    <wsdl:part element="tns:deleteCollateralDocumentTrackingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralDocumentTrackingSelectFieldsRequest">
    <wsdl:part element="tns:getCollateralDocumentTrackingSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchCollateralDocumentTrackingPagedSelectFieldsRequest">
    <wsdl:part element="tns:searchCollateralDocumentTrackingPagedSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateCollateralByIDResponse">
    <wsdl:part element="tns:updateCollateralByIDResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteCollateralCollHoldResponse">
    <wsdl:part element="tns:deleteCollateralCollHoldResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchCollateralCollHoldPagedSelectFieldsRequest">
    <wsdl:part element="tns:searchCollateralCollHoldPagedSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchCollateralDocumentPagedSelectFieldsRequest">
    <wsdl:part element="tns:searchCollateralDocumentPagedSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchCollateralFmHistoryPagedSelectFieldsRequest">
    <wsdl:part element="tns:searchCollateralFmHistoryPagedSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralSelectFieldsFilterChildrenRequest">
    <wsdl:part element="tns:getCollateralSelectFieldsFilterChildren" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralTrackingSelectFieldsResponse">
    <wsdl:part element="tns:getCollateralTrackingSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralSelectFieldsFilterChildrenResponse">
    <wsdl:part element="tns:getCollateralSelectFieldsFilterChildrenResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralDocumentSelectFieldsFilterChildrenResponse">
    <wsdl:part element="tns:getCollateralDocumentSelectFieldsFilterChildrenResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteCollateralTrackingRequest">
    <wsdl:part element="tns:deleteCollateralTracking" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateCollateralByIDRequest">
    <wsdl:part element="tns:updateCollateralByID" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchCollateralFmHistoryPagedSelectFieldsResponse">
    <wsdl:part element="tns:searchCollateralFmHistoryPagedSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateCollateralCollHoldByIDResponse">
    <wsdl:part element="tns:updateCollateralCollHoldByIDResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralDocumentPagedListSelectFieldsRequest">
    <wsdl:part element="tns:getCollateralDocumentPagedListSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteCollateralTrackingResponse">
    <wsdl:part element="tns:deleteCollateralTrackingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteCollateralCollHoldRequest">
    <wsdl:part element="tns:deleteCollateralCollHold" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralDocumentTrackingPagedListSelectFieldsRequest">
    <wsdl:part element="tns:getCollateralDocumentTrackingPagedListSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralSelectFieldsResponse">
    <wsdl:part element="tns:getCollateralSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateCollateralCollHoldByIDRequest">
    <wsdl:part element="tns:updateCollateralCollHoldByID" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralDocumentSelectFieldsFilterChildrenRequest">
    <wsdl:part element="tns:getCollateralDocumentSelectFieldsFilterChildren" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createCollateralResponse">
    <wsdl:part element="tns:createCollateralResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralCollHoldPagedListSelectFieldsResponse">
    <wsdl:part element="tns:getCollateralCollHoldPagedListSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createCollateralRequest">
    <wsdl:part element="tns:createCollateral" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateCollateralTrackingByIDResponse">
    <wsdl:part element="tns:updateCollateralTrackingByIDResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateCollateralDocumentByIDResponse">
    <wsdl:part element="tns:updateCollateralDocumentByIDResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createCollateralCollHoldRequest">
    <wsdl:part element="tns:createCollateralCollHold" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteCollateralDocumentResponse">
    <wsdl:part element="tns:deleteCollateralDocumentResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralCollHoldPagedListSelectFieldsRequest">
    <wsdl:part element="tns:getCollateralCollHoldPagedListSelectFields" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteCollateralDocumentRequest">
    <wsdl:part element="tns:deleteCollateralDocument" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralCollHoldSelectFieldsResponse">
    <wsdl:part element="tns:getCollateralCollHoldSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createCollateralDocumentResponse">
    <wsdl:part element="tns:createCollateralDocumentResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCollateralDocumentSelectFieldsResponse">
    <wsdl:part element="tns:getCollateralDocumentSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createCollateralCollHoldResponse">
    <wsdl:part element="tns:createCollateralCollHoldResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchCollateralDocumentTrackingPagedSelectFieldsResponse">
    <wsdl:part element="tns:searchCollateralDocumentTrackingPagedSelectFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CollateralService">
    <wsdl:operation name="getCollateralSelectFields">
      <wsdl:input message="tns:getCollateralSelectFieldsRequest"/>
      <wsdl:output message="tns:getCollateralSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCollateralSelectFieldsFilterChildren">
      <wsdl:input message="tns:getCollateralSelectFieldsFilterChildrenRequest"/>
      <wsdl:output message="tns:getCollateralSelectFieldsFilterChildrenResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCollateralCollHoldSelectFields">
      <wsdl:input message="tns:getCollateralCollHoldSelectFieldsRequest"/>
      <wsdl:output message="tns:getCollateralCollHoldSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCollateralCollHoldPagedListSelectFields">
      <wsdl:input message="tns:getCollateralCollHoldPagedListSelectFieldsRequest"/>
      <wsdl:output message="tns:getCollateralCollHoldPagedListSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="searchCollateralCollHoldPagedSelectFields">
      <wsdl:input message="tns:searchCollateralCollHoldPagedSelectFieldsRequest"/>
      <wsdl:output message="tns:searchCollateralCollHoldPagedSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCollateralDocumentSelectFields">
      <wsdl:input message="tns:getCollateralDocumentSelectFieldsRequest"/>
      <wsdl:output message="tns:getCollateralDocumentSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCollateralDocumentSelectFieldsFilterChildren">
      <wsdl:input message="tns:getCollateralDocumentSelectFieldsFilterChildrenRequest"/>
      <wsdl:output message="tns:getCollateralDocumentSelectFieldsFilterChildrenResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCollateralDocumentPagedListSelectFields">
      <wsdl:input message="tns:getCollateralDocumentPagedListSelectFieldsRequest"/>
      <wsdl:output message="tns:getCollateralDocumentPagedListSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="searchCollateralDocumentPagedSelectFields">
      <wsdl:input message="tns:searchCollateralDocumentPagedSelectFieldsRequest"/>
      <wsdl:output message="tns:searchCollateralDocumentPagedSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCollateralDocumentTrackingSelectFields">
      <wsdl:input message="tns:getCollateralDocumentTrackingSelectFieldsRequest"/>
      <wsdl:output message="tns:getCollateralDocumentTrackingSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCollateralDocumentTrackingPagedListSelectFields">
      <wsdl:input message="tns:getCollateralDocumentTrackingPagedListSelectFieldsRequest"/>
      <wsdl:output message="tns:getCollateralDocumentTrackingPagedListSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="searchCollateralDocumentTrackingPagedSelectFields">
      <wsdl:input message="tns:searchCollateralDocumentTrackingPagedSelectFieldsRequest"/>
      <wsdl:output message="tns:searchCollateralDocumentTrackingPagedSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCollateralFmHistoryPagedListSelectFields">
      <wsdl:input message="tns:getCollateralFmHistoryPagedListSelectFieldsRequest"/>
      <wsdl:output message="tns:getCollateralFmHistoryPagedListSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="searchCollateralFmHistoryPagedSelectFields">
      <wsdl:input message="tns:searchCollateralFmHistoryPagedSelectFieldsRequest"/>
      <wsdl:output message="tns:searchCollateralFmHistoryPagedSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCollateralTrackingSelectFields">
      <wsdl:input message="tns:getCollateralTrackingSelectFieldsRequest"/>
      <wsdl:output message="tns:getCollateralTrackingSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCollateralTrackingPagedListSelectFields">
      <wsdl:input message="tns:getCollateralTrackingPagedListSelectFieldsRequest"/>
      <wsdl:output message="tns:getCollateralTrackingPagedListSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="searchCollateralTrackingPagedSelectFields">
      <wsdl:input message="tns:searchCollateralTrackingPagedSelectFieldsRequest"/>
      <wsdl:output message="tns:searchCollateralTrackingPagedSelectFieldsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateCollateralByID">
      <wsdl:input message="tns:updateCollateralByIDRequest"/>
      <wsdl:output message="tns:updateCollateralByIDResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateCollateralCollHoldByID">
      <wsdl:input message="tns:updateCollateralCollHoldByIDRequest"/>
      <wsdl:output message="tns:updateCollateralCollHoldByIDResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateCollateralDocumentByID">
      <wsdl:input message="tns:updateCollateralDocumentByIDRequest"/>
      <wsdl:output message="tns:updateCollateralDocumentByIDResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateCollateralDocumentTrackingByID">
      <wsdl:input message="tns:updateCollateralDocumentTrackingByIDRequest"/>
      <wsdl:output message="tns:updateCollateralDocumentTrackingByIDResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateCollateralTrackingByID">
      <wsdl:input message="tns:updateCollateralTrackingByIDRequest"/>
      <wsdl:output message="tns:updateCollateralTrackingByIDResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createCollateral">
      <wsdl:input message="tns:createCollateralRequest"/>
      <wsdl:output message="tns:createCollateralResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createCollateralCollHold">
      <wsdl:input message="tns:createCollateralCollHoldRequest"/>
      <wsdl:output message="tns:createCollateralCollHoldResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createCollateralDocument">
      <wsdl:input message="tns:createCollateralDocumentRequest"/>
      <wsdl:output message="tns:createCollateralDocumentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createCollateralDocumentTracking">
      <wsdl:input message="tns:createCollateralDocumentTrackingRequest"/>
      <wsdl:output message="tns:createCollateralDocumentTrackingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createCollateralTracking">
      <wsdl:input message="tns:createCollateralTrackingRequest"/>
      <wsdl:output message="tns:createCollateralTrackingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteCollateralCollHold">
      <wsdl:input message="tns:deleteCollateralCollHoldRequest"/>
      <wsdl:output message="tns:deleteCollateralCollHoldResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteCollateralDocument">
      <wsdl:input message="tns:deleteCollateralDocumentRequest"/>
      <wsdl:output message="tns:deleteCollateralDocumentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteCollateralDocumentTracking">
      <wsdl:input message="tns:deleteCollateralDocumentTrackingRequest"/>
      <wsdl:output message="tns:deleteCollateralDocumentTrackingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteCollateralTracking">
      <wsdl:input message="tns:deleteCollateralTrackingRequest"/>
      <wsdl:output message="tns:deleteCollateralTrackingResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CollateralServiceSOAPBinding" type="tns:CollateralService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCollateralSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/getCollateralSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCollateralSelectFieldsFilterChildren">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/getCollateralSelectFieldsFilterChildren"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCollateralCollHoldSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/getCollateralCollHoldSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCollateralCollHoldPagedListSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/getCollateralCollHoldPagedListSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchCollateralCollHoldPagedSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/searchCollateralCollHoldPagedSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCollateralDocumentSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/getCollateralDocumentSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCollateralDocumentSelectFieldsFilterChildren">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/getCollateralDocumentSelectFieldsFilterChildren"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCollateralDocumentPagedListSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/getCollateralDocumentPagedListSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchCollateralDocumentPagedSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/searchCollateralDocumentPagedSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCollateralDocumentTrackingSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/getCollateralDocumentTrackingSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCollateralDocumentTrackingPagedListSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/getCollateralDocumentTrackingPagedListSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchCollateralDocumentTrackingPagedSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/searchCollateralDocumentTrackingPagedSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCollateralFmHistoryPagedListSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/getCollateralFmHistoryPagedListSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchCollateralFmHistoryPagedSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/searchCollateralFmHistoryPagedSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCollateralTrackingSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/getCollateralTrackingSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCollateralTrackingPagedListSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/getCollateralTrackingPagedListSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchCollateralTrackingPagedSelectFields">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/searchCollateralTrackingPagedSelectFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCollateralByID">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/updateCollateralByID"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCollateralCollHoldByID">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/updateCollateralCollHoldByID"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCollateralDocumentByID">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/updateCollateralDocumentByID"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCollateralDocumentTrackingByID">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/updateCollateralDocumentTrackingByID"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCollateralTrackingByID">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/updateCollateralTrackingByID"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCollateral">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/createCollateral"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCollateralCollHold">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/createCollateralCollHold"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCollateralDocument">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/createCollateralDocument"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCollateralDocumentTracking">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/createCollateralDocumentTracking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCollateralTracking">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/createCollateralTracking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCollateralCollHold">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/deleteCollateralCollHold"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCollateralDocument">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/deleteCollateralDocument"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCollateralDocumentTracking">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/deleteCollateralDocumentTracking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCollateralTracking">
      <soap:operation soapAction="http://www.symxchange.generated.symitar.com/crud/collateral/deleteCollateralTracking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CollateralService">
    <wsdl:port binding="tns:CollateralServiceSOAPBinding" name="CollateralServicePort">
      <soap:address location="https://symx-colorado.mdtsaas.com:6101/SymXchange/collateral"/>
    </wsdl:port>
  </wsdl:service>
  <xsd:documentation>Version 3.0</xsd:documentation>
</wsdl:definitions>